In [518]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\91991\anaconda3\anaconda\lib\site-packages (4.16.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91991\anaconda3\anaconda\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\91991\anaconda3\anaconda\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio~=0.17 in c:\users\91991\anaconda3\anaconda\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\91991\anaconda3\anaconda\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\91991\anaconda3\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: exceptiongroup in c:\users\91991\anaconda3\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\91991\anaconda3\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\91991\anaconda3\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\91991\anaconda3\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: attrs>=20.1.0 in c:\users\91991\anaconda3\anaconda\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: outcome in c:\users\91991\anaconda3\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: wsproto>=0.14 in c:\users\91991\anaconda3\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91991\anaconda3\anaconda\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\91991\anaconda3\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91991\anaconda3\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [519]:
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

# QUESTION NO 1

In [163]:
driver=webdriver.Chrome()

In [164]:
#opening the shine page on automated chrome browser
driver.get("https://www.shine.com/")

In [167]:
# entering the designation in job title skill
designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Analyst')

In [170]:
# ENTERING THE LOCATION
location=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div[1]/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [172]:
search=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div[1]/form/div/div[2]/div/button')
search.click()

In [173]:
job_title=[] 
job_location=[]
company_name=[]
experience_required=[]

In [182]:
#scrapping job title from given page
job_title=[]
title_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]/div/h2/a')
for i in title_tags[0:10]:
    title_i=i.text
    job_title.append(title_i)

In [183]:
job_title

['Data Analyst',
 'Vacancy For Data Analyst',
 'Clinical Data Analyst',
 'Data Modeler data',
 'Data Modeller',
 'Data Modeler Bangalore',
 'Data Modeler',
 'Clinical Data Analyst',
 'Data Analyst Hiring Fresher and Experience',
 'Data Analyst Hiring Fresher and Experience']

In [184]:
print(len(job_title))

10

In [193]:
#scrapping the location from given page
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [194]:
len(job_location)

10

In [190]:
#scrapping the company name from given
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [191]:
len(company_name)

10

In [185]:
#scrapping the experience from the required page
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [186]:
experience_required

['4 to 9 Yrs',
 '0 to 1 Yr',
 '0 to 3 Yrs',
 '0 to 1 Yr',
 '3 to 6 Yrs',
 '3 to 6 Yrs',
 '3 to 6 Yrs',
 '3 to 6 Yrs',
 '0 to 2 Yrs',
 '0 to 4 Yrs']

In [188]:
len(experience_required)

10

In [195]:
# making data frame
df=pd.DataFrame({"Job-tilte":job_title,"Job-location":job_location,"Company name":company_name,"Experience":experience_required})
df

,Job-tilte,Job-location,Company name,Experience
0,Data Analyst,Bangalore,ara resources private limited,4 to 9 Yrs
1,Vacancy For Data Analyst,Bangalore\n+3,diraa hr services hiring for mncs,0 to 1 Yr
2,Clinical Data Analyst,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs
3,Data Modeler data,Bangalore\n+6,techno endura,0 to 1 Yr
4,Data Modeller,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
5,Data Modeler Bangalore,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
6,Data Modeler,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
7,Clinical Data Analyst,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
8,Data Analyst Hiring Fresher and Experience,Bangalore\n+4,quiscon biotech,0 to 2 Yrs
9,Data Analyst Hiring Fresher and Experience,Bangalore\n+13,kavya interprises,0 to 4 Yrs

# question no 2

In [224]:
driver=webdriver.Chrome()

In [225]:
driver.get('https://www.shine.com/')

In [227]:
# entering the designation in job title group
designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys ('Data Scientist')

In [228]:
location=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div[1]/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [230]:
search=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[2]/div')
search.click()

In [231]:
job_title=[]
job_location=[]
company_name=[]

In [236]:
#scrapping the data for job tittle
title_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]/div/h2/a')
for i in title_tags[0:10]:
    
    title=i.text
    job_title.append(title)

In [242]:
print(job_title)

['Data Scientist', 'Lead Data Scientist/ Principal Data Scientist', 'Vacancy For Data Scientist Fresher and Experience', 'Senior Data Scientist', 'Lead Data Scientist', 'Data Scientist', 'Data Scientist Urgent Vacancy', 'Data Scientist', 'Pharma Data Scientist', 'Hiring For Data Scientist']

In [243]:
len(job_title)

10

In [244]:
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [245]:
len(job_location)

10

In [246]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [247]:
len(company_name)

10

In [248]:
# making a dataframe
df=pd.DataFrame({"Job-title":job_title,"Job-location":job_location,"Company-name":company_name})
df

,Job-title,Job-location,Company-name
0,Data Scientist,Bangalore\n+4,acme services private limited
1,Lead Data Scientist/ Principal Data Scientist,Bangalore,ltimindtree limited
2,Vacancy For Data Scientist Fresher and Experience,Bangalore\n+1,fractal
3,Senior Data Scientist,Bangalore\n+14,yogita staffing solution
4,Lead Data Scientist,Bangalore\n+1,neostats
5,Data Scientist,Bangalore\n+1,aereo
6,Data Scientist Urgent Vacancy,Bangalore\n+7,people staffing solutions
7,Data Scientist,Bangalore\n+14,yogita staffing solution
8,Pharma Data Scientist,Bangalore\n+2,diraa hr services
9,Hiring For Data Scientist,Bangalore\n+4,quiscon biotech

# QUESTION NO 3

In [486]:
driver=webdriver.Chrome()

In [487]:
driver.get('https://www.shine.com/')

In [489]:
# entering the designation in job title group
designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys ('Data Scientist')

In [490]:
location=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div[1]/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Delhi/NCR')

In [492]:

adv_search=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[2]/p/button')
adv_search.click()

In [495]:
search=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[2]/div/button')
search.click()

In [494]:
salary=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div/div[1]/div[1]/div/div[2]/div/div/form/div/div[1]/ul[2]/li[1]/div/input[1]')
salary.send_keys('3-6')

In [508]:
#scrapping job title from the given page
job_title=[]
job_title_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]/div/h2/a')
for i in job_title_tags[0:10]:
    job_title_i=i.text
    job_title.append(job_title_i)

In [509]:
len(job_title)

10

In [497]:
#SCRAPPING JOB_LOCATION
job_location=[]


job_location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in job_location_tags[0:10]:
    job_location_i=i.text
    job_location.append(job_location_i)

In [498]:
len(job_location)

10

In [501]:
#scrapping company name
company_name=[]
company_name_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_name_tags[0:10]:
    company_name_i=i.text
    company_name.append(company_name_i)

In [502]:
len(company_name)

10

In [503]:
#scrapping experience required
experience=[]
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags[0:10]:
    experience_i=i.text
    experience.append(experience_i)

In [504]:
len(experience)

10

In [510]:
#making the dataframe
df=pd.DataFrame({"Job title":job_title,"Job location":job_location,"Company name":company_name,"Experience required":experience})
df

,Job title,Job location,Company name,Experience required
0,Data Scientist/Data Analyst-17740,Chennai,talent leads hr solutions pvt ltd,8 to 13 Yrs
1,Data Scientist /Quantitative Equity Researcher 2,All India,gemraj technologies ltd,3 to 7 Yrs
2,Data Scientist,Other Maharashtra,pinebridge investments,0 to 7 Yrs
3,Data Scientist,Hyderabad\n+1,neuzen ai,1 to 2 Yrs
4,Data Scientist,Other Haryana,signify,5 to 9 Yrs
5,Data Scientist,All India,smarthelio,3 to 7 Yrs
6,Lead Data Scientist,Other Karnataka,cropin,2 to 6 Yrs
7,Lead Data Scientist,Other Karnataka,aps resources,5 to 9 Yrs
8,Data Scientist,Other Maharashtra\n+1,xoriant,8 to 12 Yrs
9,Data Scientist,Other Karnataka,sybex support services,2 to 4 Yrs

# QUESTION NO 4

In [141]:

driver=webdriver.Chrome()

In [143]:
driver.get('https://www.flipkart.com/')

In [144]:
#entering the sunglasses in the given search page
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
product.send_keys('sunglasses')

In [145]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [146]:
# searching brand from the given page
brand=[]
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    brand_i=i.text
    brand.append(brand_i)
    
print(brand)

['VINCENT CHASE', 'VINCENT CHASE', 'SRPM', 'Elligator', 'Fastrack', 'VINCENT CHASE', 'peter india', 'VOYAGE', 'Fastrack', 'Elligator', 'hayden haiza', 'Eyewearlabs', 'Elligator', 'TheWhoop', 'Rich Club', 'ROADWAY', 'VINCENT CHASE', 'VINCENT CHASE', 'NOWWAY', 'Elligator', 'VINCENT CHASE', 'PC STAR', 'Fastrack', 'VINCENT CHASE', 'Elligator', 'Rich Club', 'ROYAL SON', 'VINCENT CHASE', 'doah', 'Fastrack', 'Eyenaks', 'VINCENT CHASE', 'Fastrack', 'PIRASO', 'ZUKER', 'Fastrack', 'Eyewearlabs', 'PC STAR', 'VINCENT CHASE', 'Elligator']

In [147]:
print(len(brand))

40

In [148]:
#look out for 100 brands on different pages
brand=[]
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
         brand.append(i.text)
    next=driver.find_element(By.XPATH,'//A[@class="_1LKTO3"]')
    next.click()
    time.sleep(3)

In [149]:
print(brand)

['VINCENT CHASE', 'VINCENT CHASE', 'SRPM', 'Elligator', 'Fastrack', 'VINCENT CHASE', 'peter india', 'VOYAGE', 'Fastrack', 'Elligator', 'hayden haiza', 'Eyewearlabs', 'Elligator', 'TheWhoop', 'Rich Club', 'ROADWAY', 'VINCENT CHASE', 'VINCENT CHASE', 'NOWWAY', 'Elligator', 'VINCENT CHASE', 'PC STAR', 'Fastrack', 'VINCENT CHASE', 'Elligator', 'Rich Club', 'ROYAL SON', 'VINCENT CHASE', 'doah', 'Fastrack', 'Eyenaks', 'VINCENT CHASE', 'Fastrack', 'PIRASO', 'ZUKER', 'Fastrack', 'Eyewearlabs', 'PC STAR', 'VINCENT CHASE', 'Elligator', 'VINCENT CHASE', 'Lenskart STUDIO', 'ROYAL SON', 'VINCENT CHASE', 'VINCENT CHASE', 'PIRASO', 'VINCENT CHASE', 'Lenskart STUDIO', 'DEIXELS', 'RBGIIT', 'KAEN EYEWEAR', 'Lenskart STUDIO', 'PIRASO', 'Elligator', 'iCopertina', 'VINCENT CHASE', 'ROYAL SON', 'PC STAR', 'PIRASO', 'ROADWAY', 'AISLIN', 'ROYAL SON', 'ROZZETTA CRAFT', 'Singco India', 'Ray-Ban', 'PIRASO', 'VINCENT CHASE', 'Lenskart STUDIO', 'Elligator', 'ROYAL SON', 'ROYAL SON', 'Eyewearlabs', 'Fastrack', 'PIRASO', 'VINCENT CHASE', 'BKGE', 'Resist', 'VINCENT CHASE', 'ROZZETTA CRAFT', 'VINCENT CHASE', 'VINCENT CHASE', 'VINCENT CHASE', 'SRPM', 'Elligator', 'Fastrack', 'VINCENT CHASE', 'peter india', 'VOYAGE', 'Fastrack', 'Elligator', 'hayden haiza', 'Eyewearlabs', 'Elligator', 'TheWhoop', 'Rich Club', 'ROADWAY', 'VINCENT CHASE', 'VINCENT CHASE', 'NOWWAY', 'Elligator', 'VINCENT CHASE', 'PC STAR', 'Fastrack', 'VINCENT CHASE', 'Elligator', 'Rich Club', 'ROYAL SON', 'VINCENT CHASE', 'doah', 'Fastrack', 'Eyenaks', 'VINCENT CHASE', 'Fastrack', 'PIRASO', 'ZUKER', 'Fastrack', 'Eyewearlabs', 'PC STAR', 'VINCENT CHASE', 'Elligator']

In [150]:
len(brand)

120

In [151]:
brand=brand[0:100]
print(len(brand))

100

In [152]:
#searching product description from the given page
description=[]
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags:
    description_i=i.text
    description.append(description_i)

In [153]:
print(description)

['by Lenskart UV Protection Aviator Sunglasses (55)', 'Polarized, UV Protection Rectangular Sunglasses (54)', 'UV Protection, Gradient Butterfly Sunglasses (62)', 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...', 'by Lenskart UV Protection Rectangular Sunglasses (61)', 'UV Protection Butterfly Sunglasses (60)', 'by Lenskart Polarized, UV Protection Aviator Sunglasses...', 'Polarized, UV Protection Rectangular Sunglasses (55)', 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...', 'Night Vision, UV Protection, Polarized Wrap-around Sung...', 'UV Protection Cat-eye Sunglasses (50)', 'Polarized, UV Protection Rectangular Sunglasses (51)', 'UV Protection Over-sized Sunglasses (60)', 'UV Protection Round Sunglasses (53)', 'UV Protection Retro Square Sunglasses (Free Size)', 'by Lenskart UV Protection Retro Square Sunglasses (56)', 'Polarized, UV Protection Retro Square Sunglasses (61)', 'UV Protection, Riding Glasses Retro Square Sunglasses (...', 'UV Protection Over-sized Sunglasses (65)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Polarized, UV Protection Aviator Sunglasses (61)', 'UV Protection Retro Square Sunglasses (60)', 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...', 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Butterfly Sunglasses (60)', 'by Lenskart Polarized, UV Protection Round Sunglasses (...', 'Gradient Retro Square Sunglasses (58)', 'UV Protection Round Sunglasses (54)', 'Polarized, UV Protection Retro Square Sunglasses (55)', 'Polarized, UV Protection Rectangular Sunglasses (55)', 'Polarized, UV Protection Rectangular Sunglasses (65)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (54)', 'by Lenskart Polarized, UV Protection Rectangular Sungla...', 'Polarized, UV Protection Retro Square Sunglasses (55)', 'by Lenskart Polarized, UV Protection Aviator Sunglasses...', 'UV Protection Retro Square Sunglasses (Free Size)', 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...']

In [154]:
#look out for100 product_description on different pages
description=[]
start=0
end=3
for page in range(start,end):
    description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description_tags:
        description_i=i.text
        description.append(description_i)
    next=driver.find_element(By.XPATH,'//A[@class="_1LKTO3"]')
    next.click()
    time.sleep(3)

In [156]:
description=description[0:100]
print(len(description))

100

In [157]:
#searching price from the given page
price=[]
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    price_i=i.text
    price.append(price_i)

In [158]:
print(price)

['₹829', '₹709', '₹149', '₹149', '₹599', '₹523', '₹220', '₹949', '₹499', '₹169', '₹249', '₹287', '₹149', '₹334', '₹487', '₹129', '₹2,199', '₹375', '₹299', '₹149', '₹831', '₹549', '₹559', '₹159', '₹439', '₹394', '₹649', '₹949', '₹189', '₹579', '₹268', '₹359', '₹589', '₹210', '₹699', '₹559', '₹249', '₹849', '₹559', '₹549']

In [159]:
# loook out for 100 prices on different pages
price=[]
start=0
end=3
for page in range(start,end):
    price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tag:
        price_i=i.text
        price.append(price_i)
    next=driver.find_element(By.XPATH,'//A[@class="_1LKTO3"]')
    next.click()
    time.sleep(3)

In [160]:
len(price)

120

In [161]:
price=price[0:100]
print(len(price))

100

In [162]:
df=pd.DataFrame({"Brand":brand,"Product Description":description,"Prices":price})
df

            Brand                                Product Description  Prices
0   VINCENT CHASE  by Lenskart UV Protection Aviator Sunglasses (55)    ₹829
1   VINCENT CHASE  Polarized, UV Protection Rectangular Sunglasse...    ₹709
2            SRPM  UV Protection, Gradient Butterfly Sunglasses (62)    ₹149
3       Elligator  by Lenskart Polarized, UV Protection Wayfarer ...    ₹149
4        Fastrack  by Lenskart UV Protection Rectangular Sunglass...    ₹599
..            ...                                                ...     ...
95        ROADWAY  Polarized, UV Protection Wayfarer, Retro Squar...    ₹129
96  VINCENT CHASE  Polarized, Night Vision, Riding Glasses Sports...  ₹2,199
97  VINCENT CHASE  Polarized, UV Protection Rectangular Sunglasse...    ₹831
98         NOWWAY     Polarized, UV Protection Round Sunglasses (52)    ₹299
99      Elligator           UV Protection Over-sized Sunglasses (65)    ₹149

[100 rows x 3 columns]

# QUESTION NO 5

In [335]:
driver=webdriver.Chrome()

In [336]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART')

In [283]:
#scrapping the ratings from thne given page
ratings=[]
start=0
end=10
for page in range(start,end):
    rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tag:
        rating_i=i.text
        ratings.append(rating_i)
    next=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next.click()
    time.sleep(10)

In [284]:
len(ratings)

100

In [286]:
full_review=[]
start=0
end=10
for page in range(start,end):
    review_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in review_tags:
        review_i=i.text
        full_review.append(review_i)
    next=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next.click()
    time.sleep(10)

In [287]:
len(full_review)

100

In [288]:
review_summary=[]
start=0
end=10
for page in range(start,end):
    summary_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in summary_tags:
        summary_i=i.text
        review_summary.append(summary_i)
    next=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next.click()
    time.sleep(10)

In [289]:
len(review_summary)

100

In [290]:
df=pd.DataFrame({"Rating":ratings,"Review summary":review_summary,"Full review":full_review})
df

,Rating,Review summary,Full review
0,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
1,5,Best in the market!,Good Camera
2,5,Worth every penny,Feeling awesome after getting the delivery of ...
3,5,Wonderful,This is amazing at all
4,5,Terrific,Very very good
...,...,...,...
95,5,Fabulous!,It’s very good battery life and display and vi...
96,5,Terrific purchase,Value for money 🖤🖤
97,5,Must buy!,"Go for iPhone 11 , if confused between iPhone ..."
98,5,Super!,Good product 👌I love iPhone
99,5,Simply awesome,Really satisfied with the Product I received.....

# QUESTION NO 6

In [337]:
driver=webdriver.Chrome()

In [338]:
driver.get('https://www.flipkart.com/')

In [339]:
product=driver.find_element(By.CLASS_NAME,"Pke_EE")
product.send_keys('sneakers')

In [340]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [341]:
#searching brand fromthe given page
brand=[]
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    brand_i=i.text
    brand.append(brand_i)

In [342]:
len(brand)

40

In [343]:
#scrapping brand of 100 sneakers feom the given pages
brand=[]
start=0
end=3
for page in range(start,end):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        brand_i=i.text
        brand.append(brand_i)
    next=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')  
    next.click()
    time.sleep(3)

In [344]:
len(brand)

120

In [345]:
brand=brand[0:100]
len(brand)

100

In [346]:
price=[] 
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    price_i=i.text
    price.append(price_i)
    
    
print(len(price))

40

In [347]:
#scrapping the price of 100 sneakers from the given pages
price=[]
start=0
end=3
for page in range(start,end):
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        price_i=i.text
        price.append(price_i)
    next=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')  
    next.click()
    time.sleep(3)

In [348]:
len(price)

120

In [349]:
price=price[0:100]
len(price)

100

In [352]:
# scrapping product description of 100 sneakers from given pages
product_description=[]
start=0
end=4
for page in range(start,end):
    description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description_tags:
        description_i=i.text
        product_description.append(description_i)
    next=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')  
    next.click()
    time.sleep(3)

In [353]:
len(product_description)

123

In [354]:
product_description=product_description[0:100]
len(product_description)

100

In [355]:
df=pd.DataFrame({"Brand":brand,"Price":price,"Product description":product_description})
df

           Brand   Price                                Product description
0         BRUTON    ₹387                                   Sneakers For Men
1         BRUTON    ₹324                           Crown Sneakers For Women
2       URBANBOX  ₹1,679  Sneaker Casual Shoes for Men | Soft Cushioned ...
3      Deals4you    ₹315                          Designer Sneakers For Men
4   Robbie jones    ₹421  kardam&sons luxury fashionable Stylish Light W...
..           ...     ...                                                ...
95         asian    ₹779  Trending Stylish Casual Outdoor Sneakers Shoes...
96        BRUTON    ₹948                                 Sneakers For Women
97        BRUTON    ₹899  Casual Sneakers Colour Blocked Shoes For Boys ...
98        BRUTON  ₹2,880  Aadi Men Black & Green Casual Sneaker Sneakers...
99        MEGPAR  ₹1,243      Combo Pack Of 2 Casual Shoes Sneakers For Men

[100 rows x 3 columns]

# QUESTION NO 7

In [394]:
driver=webdriver.Chrome()

In [395]:
driver.get('https://www.amazon.in/')

In [396]:
# entering laptop in the search field
product=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
product.send_keys('Laptop')

In [397]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [399]:
#entering intelcorei7 on the given page
cpu=driver.find_element(By.XPATH,'//span[@class="a-size-base a-color-base"]')
cpu.click()

In [400]:
#scraping titles of the first 10 laptops
title=[]
title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    title_i=i.text
    title.append(title_i)

In [401]:
print(title)

['MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM FHD 60Hz Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Intel Iris Xe Graphics/Classic Black/1.4Kg), C12M-459IN', 'ASUS Vivobook 15, Intel Core i7-12650H 12th Gen, 15.6" (39.62 cm) FHD, Thin and Light Laptop (16GB/512GB/Win11/Office 2021/Blue/1.7 kg), X1502ZA-EJ741WS', 'ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, 4GB NVIDIA GeForce RTX 3050 Ti, Gaming Laptop (16GB/1TB SSD/Win 11/MSO/90WHrs Battery/Black/2.30 Kg), FX506HE-HN385WS', 'Acer Travelmate Business Laptop Intel Core i7-11th Gen (Windows 11 Home/16 GB Ram/1TB SSD/Intel Iris Xe Graphics/14.0 IPS Display/Backlit Keyboard/Fingerprint Sensor) TMP214-53', 'Microsoft Surface Book 3 10th Gen Intel Core i7 15 inches Touch-Screen 16GB Memory 256GB SSD Windows 10 Home (Latest Model) - Platinum - Business, Gaming Laptop, 1.90 kg', 'ASUS TUF Gaming F15 (2023) 90WHr Battery, Intel Core i7-12700H 12th Gen, 15.6" FHD 144Hz, 8GB RTX 4060, Gaming Laptop (16GB/512GB SSD/Windows 11//1-Zone RGB/Gray/2.20 Kg), FX507ZV-LP094W', 'HP Pavilion 14 11th Gen Intel Core i7 16GB/1TB SSD 14 inches Laptop, FHD Micro-Edge Anti-Glare Display/Iris X\x89 Graphics/Backlit KB/B&O Audio/Fingerprint Reader/Windows 11 Ready/1.41kg, 14-dv0058TU', 'Lenovo IdeaPad Pro 5 Intel Core i7 13700H 16 Inch (40.6cm) 2.5K IPS 350Nits 120Hz Laptop (16GB/1TB SSD/NVDIA RTX 3050/Win 11/MSOffice/Backlit/FHD Camera/Alexa/3 month Game Pass/Grey/1.95Kg),83AQ005SIN', 'Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 15.6" (39.62cm) FHD Laptop (16GB/512GB SSD/Win 11/Office 2021/1 Year Warranty/Arctic Grey/1.65Kg), 82H803LPIN', 'HP Laptop 15s, 12th Gen Intel Core i7-1255U, 15.6-inch (39.6 cm), FHD, 16GB DDR4, 512GB SSD, Intel Iris Xe Graphics, Backlit KB, Thin & Light (Win 11, MSO 2021, Silver, 1.69 kg), fq5190TU']

In [365]:
len(title)

10

In [402]:
#scraping the ratings for 10 laptops from the given page
rating=[]
rating_tags=driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]')
for i in rating_tags[0:10]:
    rating_i=i.text
    rating.append(rating_i)

In [403]:
len(rating)

10

In [404]:
#scrapping price of 10 laptops from the given page
price=[]
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price_i=i.text
    price.append(price_i)

In [405]:
print(price)

['54,990', '59,990', '76,990', '47,990', '1,89,990', '99,990', '84,899', '1,09,190', '60,190', '67,490']

In [406]:
len(price)

10

# QUESTION NO 8

In [432]:
driver=webdriver.Chrome()

In [433]:
driver.get('https://www.azquotes.com/top_quotes.html/')

In [434]:
quote=[]
start=0
end=10
q=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in q:
    quote_i=i.text
    quote.append(quote_i)
print(quote)

['The essence of strategy is choosing what not to do.', 'One cannot and must not try to erase the past merely because it does not fit the present.', 'Patriotism means to stand by the country. It does not mean to stand by the president.', 'Death is something inevitable. When a man has done what he considers to be his duty to his people and his country, he can rest in peace. I believe I have made that effort and that is, therefore, why I will sleep for the eternity.', 'You have to love a nation that celebrates its independence every July 4, not with a parade of guns, tanks, and soldiers who file by the White House in a show of strength and muscle, but with family picnics where kids throw Frisbees, the potato salad gets iffy, and the flies die from happiness. You may think you have overeaten, but it is patriotism.', 'Be more concerned with your character than your reputation, because your character is what you really are, while your reputation is merely what others think you are.', 'Weak people revenge. Strong people forgive. Intelligent People Ignore.', "A mind is like a parachute. It doesn't work if it is not open.", 'Never be afraid to raise your voice for honesty and truth and compassion against injustice and lying and greed. If people all over the world...would do this, it would change the earth.', 'There are three kinds of men. The one that learns by reading. The few who learn by observation. The rest of them have to pee on the electric fence for themselves.', "A strong nation, like a strong person, can afford to be gentle, firm, thoughtful, and restrained. It can afford to extend a helping hand to others. It's a weak nation, like a weak person, that must behave with bluster and boasting and rashness and other signs of insecurity.", 'The difference between stupidity and genius is that genius has its limits.', 'We the people are the rightful masters of both Congress and the courts, not to overthrow the Constitution but to overthrow the men who pervert the Constitution.', 'With or without religion, you would have good people doing good things and evil people doing evil things. But for good people to do evil things, that takes religion.', 'Human kindness has never weakened the stamina or softened the fiber of a free people. A nation does not have to be cruel to be tough.', 'A person who never made a mistake never tried anything new.', 'My mission in life is not merely to survive, but to thrive; and to do so with some passion, some compassion, some humor, and some style', 'Life is short, Break the Rules. Forgive quickly, Kiss slowly. Love truly. Laugh uncontrollably And never regret ANYTHING That makes you smile.', 'This country will not be a good place for any of us to live in unless we make it a good place for all of us to live in.', 'In a world filled with hate, we must still dare to hope. In a world filled with anger, we must still dare to comfort. In a world filled with despair, we must still dare to dream. And in a world filled with distrust, we must still dare to believe.', 'Darkness cannot drive out darkness; only light can do that. Hate cannot drive out hate; only love can do that.', 'To be a Christian means to forgive the inexcusable because God has forgiven the inexcusable in you.', 'A man who is good enough to shed his blood for the country is good enough to be given a square deal afterwards.', 'Kindness is the language which the deaf can hear and the blind can see.', 'Most folks are as happy as they make up their minds to be.', 'A happy marriage is the union of two good forgivers.', 'I believe in Christianity as I believe that the sun has risen: not only because I see it, but because by it I see everything else.', 'Politics is the art of looking for trouble, finding it everywhere, diagnosing it incorrectly and applying the wrong remedies.', "I believe in everything until it's disproved. So I believe in fairies, the myths, dragons. It all exists, even if it's in your mind. Who's to say that dreams and nightmares aren't as real as the here and now?", 'At the end of your life, you will never regret not having passed one more test, not winning one more verdict or not closing one more deal. You will regret time not spent with a husband, a friend, a child, or a parent.', 'I never think of the future - it comes soon enough.', "Our greatest fear should not be of failure but of succeeding at things in life that don't really matter.", 'Failure is simply the opportunity to begin again, this time more intelligently.', 'Music expresses that which cannot be put into words.', 'Good actions are a guard against the blows of adversity.', 'Positive thinking will let you do everything better than negative thinking will.', "You have enemies? Good. That means you've stood up for something, sometime in your life.", "You don't have to be great to start, but you have to start to be great", 'Let every nation know, whether it wishes us well or ill, that we shall pay any price, bear any burden, meet any hardship, support any friend, oppose any foe to assure the survival and the success of liberty.', "If you want total security, go to prison. There you're fed, clothed, given medical care and so on. The only thing lacking... is freedom.", 'Socialism is a philosophy of failure, the creed of ignorance, and the gospel of envy, its inherent virtue is the equal sharing of misery.', 'It is the supreme art of the teacher to awaken joy in creative expression and knowledge.', "Once you replace negative thoughts with positive ones, you'll start having positive results.", "You build on failure. You use it as a stepping stone. Close the door on the past. You don't try to forget the mistakes, but you don't dwell on it. You don't let it have any of your energy, or any of your time, or any of your space.", 'All my life through, the new sights of Nature made me rejoice like a child.', "I've learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel.", 'Marriage is not a ritual or an end. It is a long, intricate, intimate dance together and nothing matters more than your own sense of balance and your choice of partner.', 'When obstacles arise, you change your direction to reach your goal; you do not change your decision to get there.', 'Time you enjoy wasting, was not wasted.', 'The next time some academics tell you how important diversity is, ask how many Republicans there are in their sociology department.', 'Faith is not the belief that God will do what you want. It is the belief that God will do what is right.', "If you can't fly then run, if you can't run then walk, if you can't walk then crawl, but whatever you do you have to keep moving forward.", 'It is hard to imagine a more stupid or more dangerous way of making decisions than by putting those decisions in the hands of people who pay no price for being wrong.', 'I say that the most liberating thing about beauty is realizing that you are the beholder.', 'The ultimate measure of a man is not where he stands in moments of comfort and convenience, but where he stands at times of challenge and controversy.', 'The soldier, above all other people, prays for peace, for he must suffer and bear the deepest wounds and scars of war.', 'A true leader has the confidence to stand alone, the courage to make tough decisions, and the compassion to listen to the needs of others. He does not set out to be a leader, but becomes one by the equality of his actions and the integrity of his intent.', 'I am a Soldier, I fight where I am told, and I win where I fight.', "Trying to do the Lord's work in your own strength is the most confusing, exhausting, and tedious of all work. But when you are filled with the Holy Spirit, then the ministry of Jesus just flows out of you.", "Sports for me is when a guy walks off the court, and you really can't tell whether he won or lost, when he carries himself with pride either way.", 'Expect the best. Prepare for the worst. Capitalize on what comes.', 'I became insane, with long intervals of horrible sanity.', 'Failure is a detour, not a dead-end street.', 'I am not a product of my circumstances. I am a product of my decisions.', 'You can cut all the flowers but you cannot keep spring from coming.', "Life doesn't run away from nobody. Life runs at people.", 'In order to succeed, your desire for success should be greater than your fear of failure.', "It's difficult to think anything but pleasant thoughts while eating a homegrown tomato.", 'Too many of us are not living our dreams because we are living our fears.', 'If the only prayer you ever say in your entire life is thank you, it will be enough.', "It's just a job. Grass grows, birds fly, waves pound the sand. I beat people up.", 'A man must be big enough to admit his mistakes, smart enough to profit from them, and strong enough to correct them.', 'Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.', 'This is one small step for a man, one giant leap for mankind.', "It has been said, 'time heals all wounds.' I do not agree. The wounds remain. In time, the mind, protecting its sanity, covers them with scar tissue and the pain lessens. But it is never gone.", "I have held many things in my hands, and I have lost them all; but whatever I have placed in God's hands, that I still possess.", "Welfare's purpose should be to eliminate, as far as possible, the need for its own existence.", 'Each time, before you intercede, be quiet first, and worship God in His glory. Think of what He can do, and how He delights to hear the prayers of His redeemed people. Think of your place and privilege in Christ, and expect great things!', "Failure is not the opposite of success; it's part of success.", 'No one has ever become poor by giving.', 'It is not my ability, but my response to God’s ability, that counts.', 'No one is born hating another person because of the color of his skin, or his background, or his religion. People must learn to hate, and if they can learn to hate, they can be taught to love, for love comes more naturally to the human heart than its opposite.', 'No matter what people tell you, words and ideas can change the world.', 'A man should never neglect his family for business.', 'Those who dare to fail miserably can achieve greatly.', 'The two most important days in your life are the day you are born and the day you find out why.', 'We must be global Christians with a global vision because our God is a global God.', 'With everything that has happened to you, you can either feel sorry for yourself or treat what has happened as a gift. Everything is either an opportunity to grow or an obstacle to keep you from growing. You get to choose.', 'Don’t let the noise of others’ opinions drown out your own inner voice.', 'History, despite its wrenching pain, cannot be unlived, but if faced with courage, need not be lived again.', "How old would you be if you didn't know how old you are?", 'Leadership is a privilege to better the lives of others. It is not an opportunity to satisfy personal greed.', 'If you have good thoughts they will shine out of your face like sunbeams and you will always look lovely.', 'Never cut a tree down in the wintertime. Never make a negative decision in the low time. Never make your most important decisions when you are in your worst moods. Wait. Be patient. The storm will pass. The spring will come.', 'An optimist stays up until midnight to see the new year in. A pessimist stays up to make sure the old year leaves.', 'When the going gets weird, the weird turn pro.', "When a train goes through a tunnel and it gets dark, you don't throw away the ticket and jump off. You sit still and trust the engineer.", 'If you think you are too small to make a difference, try sleeping with a mosquito.', "God doesn't require us to succeed, he only requires that you try.", 'Change your thoughts and you change your world.']

In [435]:
len(quote)

100

In [436]:
# scrapping author
author=[]
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags:
    author_i=i.text
    author.append(author_i)
    
    
print(author)

['Michael Porter', 'Golda Meir', 'Theodore Roosevelt', 'Nelson Mandela', 'Erma Bombeck', 'John Wooden', 'Albert Einstein', 'Frank Zappa', 'William Faulkner', 'Will Rogers', 'Jimmy Carter', 'Albert Einstein', 'Abraham Lincoln', 'Steven Weinberg', 'Franklin D. Roosevelt', 'Albert Einstein', 'Maya Angelou', 'Mark Twain', 'Theodore Roosevelt', 'Michael Jackson', 'Martin Luther King, Jr.', 'C. S. Lewis', 'Theodore Roosevelt', 'Mark Twain', 'Abraham Lincoln', 'Ruth Graham', 'C. S. Lewis', 'Groucho Marx', 'John Lennon', 'Barbara Bush', 'Albert Einstein', 'Francis Chan', 'Henry Ford', 'Victor Hugo', 'Abu Bakr', 'Zig Ziglar', 'Winston Churchill', 'Zig Ziglar', 'John F. Kennedy', 'Dwight D. Eisenhower', 'Winston Churchill', 'Albert Einstein', 'Willie Nelson', 'Johnny Cash', 'Marie Curie', 'Maya Angelou', 'Amy Bloom', 'Zig Ziglar', 'John Lennon', 'Thomas Sowell', 'Max Lucado', 'Martin Luther King, Jr.', 'Thomas Sowell', 'Salma Hayek', 'Martin Luther King, Jr.', 'Douglas MacArthur', 'Douglas MacArthur', 'George S. Patton', 'Corrie Ten Boom', 'Jim Courier', 'Zig Ziglar', 'Edgar Allan Poe', 'Zig Ziglar', 'Stephen Covey', 'Pablo Neruda', 'Joe Frazier', 'Bill Cosby', 'Lewis Grizzard', 'Les Brown', 'Meister Eckhart', 'Muhammad Ali', 'John C. Maxwell', 'Thomas A. Edison', 'Neil Armstrong', 'Rose Kennedy', 'Martin Luther', 'Ronald Reagan', 'Andrew Murray', 'Arianna Huffington', 'Anne Frank', 'Corrie Ten Boom', 'Nelson Mandela', 'Robin Williams', 'Walt Disney', 'John F. Kennedy', 'Mark Twain', 'John Stott', 'Wayne Dyer', 'Steve Jobs', 'Maya Angelou', 'Satchel Paige', 'Mwai Kibaki', 'Roald Dahl', 'Robert H. Schuller', 'Bill Vaughan', 'Hunter S. Thompson', 'Corrie Ten Boom', 'Dalai Lama', 'Mother Teresa', 'Norman Vincent Peale']

In [437]:
len(author)

100

In [438]:
# scrapping type of quotes
quotes_type=[]
quotes_type_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in quotes_type_tags:
    quotes_type_i=i.text
    quotes_type.append(quotes_type_i)

In [439]:
print(quotes_type)

['Essence, Deep Thought, Transcendentalism', 'Inspiration, Past, Trying', 'Country, Peace, War', 'Inspirational, Motivational, Death', '4th Of July, Food, Patriotic', 'Inspirational, Success, Basketball', 'Strong, Revenge, Intelligent', 'Inspirational, Teacher, Religious', 'Truth, Honesty, Lying', 'Funny, Reading, Learning', 'Strong, Thoughtful, Compassion', 'Love, Funny, Life', 'Freedom, Men, Democracies Have', 'God, Religious, Atheist', 'Respect, Kindness, Character', 'Inspirational, Motivational, Change', 'Inspirational, Life, Inspiring', 'Love, Inspirational, Life', 'Inspiring, Country, 4th Of July', 'Inspirational, Dream, Hate', 'Love, Inspirational, Life', 'Forgiveness, God, Christian', 'Country, Men, Squares', 'Inspirational, Relationship, Positive', 'Inspirational, Motivational, Positive', 'Love, Friendship, Relationship', 'Faith, God, Christian', 'Art, Freedom, Political Will', 'Inspirational, Life, Faith', 'Inspirational, Life, Meaningful', 'Happiness, Time, Clever', 'Inspirational, Inspiring, Success', 'Love, Inspirational, Life', 'Music, Sound And Music, Musical Life', 'Adversity, Blow, Action', 'Positive, Thinking Of You, Attitude', 'Inspirational, Funny, Life', 'Inspirational, Life, Motivational', 'Inspirational, Memorial Day, Freedom', 'Freedom, Patriotic, Vaccines', 'Philosophy, Ignorance, Democratic Socialism', 'Inspirational, Dance, Education', 'Life, Change, Positive', 'Life, Bullying, Mistake', 'Life, Nature, Children', 'Inspirational, Life, Motivational', 'Marriage, Love You, Long', 'Inspirational, Motivational, Success', 'Love, Inspirational, Life', 'Diversity, Important, Liberty', 'Inspirational, God, Faith', 'Inspirational, Motivational, Inspiring', 'Business, Stupid, Government', 'Beauty, Love Yourself, Your Beautiful', 'Inspirational, Life, Motivational', 'Peace, Military, War', 'Inspirational, Leadership, Confidence', 'Motivational, Military, War', 'Christian, Jesus, Confusing', 'Inspirational, Success, Sports', 'Inspirational, Motivational, Success', 'Inspirational, Life, Clever', 'Inspirational, Death, Failure', 'Inspirational, Life, Motivational', 'Inspiring, Hope, Spring', 'Motivational, Running, People', 'Inspirational, Motivational, Positive', 'Summer, Food, Garden', 'Inspirational, Life, Motivational', 'Inspirational, Life, Thank You', 'Funny, Sports, Jobs', 'Being Strong, Wisdom, Stay Strong', 'Inspirational, Motivational, Positive', 'Motivational, Positive, Moon', 'Time, Pain, Get Well', 'Life, God, Christian', 'President, Needs, Purpose', 'God, Faith, Christian', 'Women, Failure, Successful', 'Inspirational, Morning, Kindness', 'Hiding Place, Ability, Baby Boom', 'Love, Inspirational, Life', 'Inspirational, Change, Philosophy', 'Inspirational, Family, Inspiring', 'Inspirational, Success, Courage', 'Inspirational, Life, Motivational', 'Christian, Vision, Missionary', 'Inspirational, Positive, Regret', 'Love, Inspirational, Life', 'Inspirational, Life, Encouragement', 'Happy Birthday, Baseball, Fun', 'Leadership, Power, Opportunity', 'Inspirational, Life, Positive', 'Inspirational, Encouraging, Patience', 'New Year, Fun, New Beginnings', 'Music, Sports, Hunting', 'Trust, Encouraging, Uplifting', 'Inspirational, Funny, Change', 'Success, God, Mother', 'Inspirational, Motivational, Change']

In [440]:
len(quotes_type)

100

# QUESTION NO 9

In [590]:
driver=webdriver.Chrome()

In [591]:
driver.get('https://www.jagranjosh.com/')

In [592]:
gk=driver.find_element(By.XPATH,'/html/body/div/header/nav/div/div/div[3]/ul/li[3]/a')
gk.click()

In [597]:

prime_ministers=driver.find_element(By.XPATH,'/html/body/div[1]/div[8]/section[7]/div[2]/ul/li[3]/article/h3/a')
prime_ministers.click()

# QUESTION NO 10

In [562]:
driver=webdriver.Chrome()

In [563]:
driver.get('https://www.motor1.com/')

In [575]:
search=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
search.send_keys('50 most expensive car')

In [580]:
expensive_car=driver.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
expensive_car.click()

In [581]:
#scrap the car name from the web page
car_name=[]
car_name_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_name_tags[0:50]:
    car_name_i=i.text
    car_name.append(car_name_i)

In [582]:
print(car_name)

['Aston Martin Valour', 'McLaren Elva', 'Czinger 21C', 'Ferrari Monza', 'Gordon Murray T.33', 'Koenigsegg Gemera', 'Zenvo TSR-S', 'Hennessey Venom F5', 'Bentley Bacalar', 'Hispano Suiza Carmen Boulogne', 'Bentley Mulliner Batur', 'Deus Vayanne', 'SSC Tuatara', 'Lotus Evija', 'Aston Martin Vulcan', 'Delage D12', 'Ferrari Daytona SP3', 'McLaren Speedtail', 'Rimac Nevera', 'Pagani Utopia', 'Pininfarina Battista', 'Gordon Murray T.50', 'Lamborghini Countach', 'Mercedes-AMG Project One', 'Zenvo Aurora', 'Aston Martin Victor', 'Hennessey Venom F5 Roadster', 'Koenigsegg Jesko', 'Aston Martin Valkyrie', 'W Motors Lykan Hypersport', 'McLaren Solus', 'Lamborghini Sian', 'Koenigsegg CC850', 'Bugatti Chiron Super Sport 300+', 'Lamborghini Veneno', 'Bugatti Bolide', 'Pininfarina B95 Speedster', 'Bugatti Mistral', 'Pagani Huayra Imola', 'Bugatti Divo', 'SP Automotive Chaos', 'Pagani Codalunga', '777 Hypercar', 'Mercedes-Maybach Exelero', 'Bugatti Centodieci', 'Bugatti Chiron Profilée', 'Rolls-Royce Sweptail', 'Bugatti La Voiture Noire', 'Rolls-Royce Boat Tail*', 'Rolls-Royce La Rose Noire Droptail']

In [583]:
len(car_name)

50

In [584]:
#scrapping price from the web page
price=[]
price_tags=driver.find_elements(By.XPATH,'//p/strong')
for i in price_tags:
    price_i=i.text
    price.append(price_i)
    
    
print(price)

['Price: $1.5 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.8 Million', 'Price: $1.9 Million', 'Price: $1.9 Million', 'Price: $2.0 Million', 'Price: $2.0 Million', 'Price: $2.0 Million', 'Price: $2.1 Million', 'Price: $2.3 Million', 'Price: $2.3 Million', 'Price: $2.3 Million', 'Price: $2.3 Million', 'Price: $2.4 Million', 'Price: $2.5 Million', 'Price: $2.5 Million', 'Price: $2.6 Million', 'Price: $2.6 Million', 'Price: $2.7 Million', 'Price: $2.8 Million', 'Price: $3.0 Million', '$3.0 Million', 'Price: $3.0 Million', 'Price: $3.2 Million', 'Price: $3.4 Million', '$3.5 Million', 'Price: $3.6 million', 'Price: $3.7 Million', 'Price: $3.9 Million', 'Price: $4.5 Million', 'Price: $4.7 Million', 'Price: $4.8 Million', 'Price: $5.0 Million', 'Price: $5.4 Million', 'Price: $5.8 Million', 'Price: $6.4 Million', 'Price: $7.4 Million', 'Price: $7.5 Million', 'Price: $8.0 Million', 'Price: $9.0 Million', 'Price: $10.8 Million', 'Price: $12.8 Million', 'Price: $13.4 Million', 'Price: $28.0 Million (est.)', 'Price: $30 Million (est.)']

In [585]:
len(price)

50

In [586]:
# making a dataframe
df=pd.DataFrame({"Car name":car_name,"Price":price})
df

                              Car name                        Price
0                  Aston Martin Valour          Price: $1.5 Million
1                         McLaren Elva          Price: $1.7 Million
2                          Czinger 21C          Price: $1.7 Million
3                        Ferrari Monza          Price: $1.7 Million
4                   Gordon Murray T.33          Price: $1.7 Million
5                    Koenigsegg Gemera          Price: $1.7 Million
6                          Zenvo TSR-S          Price: $1.7 Million
7                   Hennessey Venom F5          Price: $1.8 Million
8                      Bentley Bacalar          Price: $1.9 Million
9        Hispano Suiza Carmen Boulogne          Price: $1.9 Million
10              Bentley Mulliner Batur          Price: $2.0 Million
11                        Deus Vayanne          Price: $2.0 Million
12                         SSC Tuatara          Price: $2.0 Million
13                         Lotus Evija          Price: $2.1 Million
14                 Aston Martin Vulcan          Price: $2.3 Million
15                          Delage D12          Price: $2.3 Million
16                 Ferrari Daytona SP3          Price: $2.3 Million
17                   McLaren Speedtail          Price: $2.3 Million
18                        Rimac Nevera          Price: $2.4 Million
19                       Pagani Utopia          Price: $2.5 Million
20                Pininfarina Battista          Price: $2.5 Million
21                  Gordon Murray T.50          Price: $2.6 Million
22                Lamborghini Countach          Price: $2.6 Million
23            Mercedes-AMG Project One          Price: $2.7 Million
24                        Zenvo Aurora          Price: $2.8 Million
25                 Aston Martin Victor          Price: $3.0 Million
26         Hennessey Venom F5 Roadster                 $3.0 Million
27                    Koenigsegg Jesko          Price: $3.0 Million
28               Aston Martin Valkyrie          Price: $3.2 Million
29           W Motors Lykan Hypersport          Price: $3.4 Million
30                       McLaren Solus                 $3.5 Million
31                    Lamborghini Sian          Price: $3.6 million
32                    Koenigsegg CC850          Price: $3.7 Million
33     Bugatti Chiron Super Sport 300+          Price: $3.9 Million
34                  Lamborghini Veneno          Price: $4.5 Million
35                      Bugatti Bolide          Price: $4.7 Million
36           Pininfarina B95 Speedster          Price: $4.8 Million
37                     Bugatti Mistral          Price: $5.0 Million
38                 Pagani Huayra Imola          Price: $5.4 Million
39                        Bugatti Divo          Price: $5.8 Million
40                 SP Automotive Chaos          Price: $6.4 Million
41                    Pagani Codalunga          Price: $7.4 Million
42                        777 Hypercar          Price: $7.5 Million
43            Mercedes-Maybach Exelero          Price: $8.0 Million
44                  Bugatti Centodieci          Price: $9.0 Million
45             Bugatti Chiron Profilée         Price: $10.8 Million
46                Rolls-Royce Sweptail         Price: $12.8 Million
47            Bugatti La Voiture Noire         Price: $13.4 Million
48              Rolls-Royce Boat Tail*  Price: $28.0 Million (est.)
49  Rolls-Royce La Rose Noire Droptail    Price: $30 Million (est.)