In [231]:
import re
import pandas as pd

In [232]:
#question no 1
sample_text='Python Exercises, PHP exercises'
x=re.sub('[  ,.]',":",sample_text)
print(x)

Python:Exercises::PHP:exercises

In [233]:
#question no 2
dict={'SUMMARY':['hello, world!','***** test','123four, five:; six...']}

In [234]:
df=pd.DataFrame(dict)

In [235]:
df['SUMMARY']=df['SUMMARY'].str.replace('[^a-zA-Z\s]','',regex=True)

In [236]:
df

         SUMMARY
0    hello world
1           test
2  four five six

In [237]:
#question no 3
string="This is a sample string with words of different length"
pattern=re.compile(r'\b\w{4,}\b')
matches=pattern.findall(string)
print(matches)

['This', 'sample', 'string', 'with', 'words', 'different', 'length']

In [238]:
#question no4
string="This is a sample string with words of different length "
pattern=re.compile(r'\b\w{3,5}\b')
matches=pattern.findall(string)
print(matches)

['This', 'with', 'words']

In [270]:
#question no 5 
sample_text=["example(.com)","hr@fliprobo(.com)","github(.com)","Hello(Data Science World)","Data(Scientist )"]

pattern=re.compile(r'\(\)')
modified_strings=[re.sub(pattern,'',sample_text)]

        

print(modified_strings)

TypeError: expected string or bytes-like object

In [240]:
#question no 6

In [242]:
#question no 7
sample_text="ImportanceOfRegularExpressionInPython"
result=re.findall('[A-Z][a-z]*',sample_text)
result

['Importance', 'Of', 'Regular', 'Expression', 'In', 'Python']

In [243]:
#question no 8
sample_text="RegularExpression1IsAn2ImportantTopic3InPython"
result=re.sub(r'(\d+)([A-Za-z]+)',r' \1\2',sample_text)

print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

In [244]:
#question no 9
sample_text="RegularExpression1IsAn2ImportantTopic3InPython"
result=re.sub(r'(\w)([A-Za-z]+)',r' \1 \2',sample_text)

print(result)

 R egularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [245]:
#question no10 
df=pd.read_csv(r'c:/users/91991/downloads/happiness_score_dataset.csv')
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [272]:
df['Country'].sample(5)

50          Bolivia
111            Iraq
52         Paraguay
68           Kosovo
65     North Cyprus
Name: Country, dtype: object

In [274]:
df['first_five_letters']=df['Country'].str[:6]
df['first_five_letters']

0      Switze
1      Icelan
2      Denmar
3      Norway
4      Canada
        ...
153    Rwanda
154     Benin
155     Syria
156    Burund
157      Togo
Name: first_five_letters, Length: 158, dtype: object

In [275]:
df.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

In [246]:
# question no 11
def match_string(string):
    pattern=r'^[A-Za-z0-9_]+$'
    match=re.match(pattern,string)
    if match:
        print("string matches the pattern")
    
    else:
        print("string does not matches the pattern")

In [247]:
match_string("Hello_Python12345")

string matches the pattern

In [248]:
#question no 12
def match_number(string):
    text=re.compile(r'^3')
    if text.match(string):
        print(True)
    else:
        print(False)

In [249]:
print(match_number('368085'))
print(match_number('6789942'))

True
None
False
None

In [250]:
#question no 13
ip="192.018.07.158"
string=re.sub('\.[0]*','.',ip)
print(string)

192.18.7.158

In [291]:
# question no 14
import re
text="On August 15th 1947 that india was declared independent from British colonialism,and the reins ofcontrol were handed over to the leaders of the country"
pattern=r' \b(\w+) \d{1,2}(?:st|nd|rd|th)? \d{4} \b'
output=re.search(pattern,text) 
 
print(output)

<re.Match object; span=(2, 20), match=' August 15th 1947 '>

In [278]:
#question no 15
string="The quick brown fox jumps over the lazy dog."
result=re.finditer(r"fox|dog|horse",string)
                   
                   
for match_object in result:
                   print(match_object)
                   print(match_object.group())

<re.Match object; span=(16, 19), match='fox'>
fox
<re.Match object; span=(40, 43), match='dog'>
dog

In [253]:
#question no 16
string="The quick brown fox jumps over the lazy dog."
result=re.finditer(r"fox",string)

for match_object in result:
    print(match_object)

<re.Match object; span=(16, 19), match='fox'>

In [254]:
# question no 17
sample_text='Python exercises,PHP exercises,C#exercises'
pattern='exercises'
for match in re.findall(pattern,text):
    print('found "%"'%match)

In [255]:
pattern

'exercises'

In [256]:
#question no18
import re
sample_text='Python exercises,PHP exercises,C#exercises'
result=re.finditer(r"exercises",sample_text)

for match_object in result:
    print(match_object)

<re.Match object; span=(7, 16), match='exercises'>
<re.Match object; span=(21, 30), match='exercises'>
<re.Match object; span=(33, 42), match='exercises'>

In [300]:
#question no 19
import re
def change_date_format(date1):
    re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', r'\\3-\\2-\\1',date1)
date1="2023-12-15"
print("original date in format:",date1)
print("new date in format:",change_date_format(date1))

original date in format: 2023-12-15
new date in format: None

In [298]:
# question no 20
import re
sample_text="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25 "
pattern=re.compile(r'\d+\.\d{1,2} ')
decimal_numbers=re.findall(pattern,sample_text)

print(decimal_numbers)

['01.12 ', '145.8 ', '3.01 ', '27.25 ', '0.25 ']

In [259]:
#question no 21
text="Bananas cost rs250.Grapes cost rs340"
for p in re.finditer('\d+',text):
    print(p.group())
    print('index position',p.start())

250
index position 15
340
index position 33

In [260]:
#question no 22
sample_text='My marks in each semester are:947,896,926,524,734,950,642'
result=re.findall(r'\d+',sample_text)
print("maximum numeric value",max(result))

maximum numeric value 950

In [261]:
#question no 23
sample_text="RegularExpressionIsAnImportantTopicInPython"
result=re.findall('[A-Z][a-z]*',sample_text)
print(' '.join(result))

Regular Expression Is An Important Topic In Python

In [262]:
#question no 24
pattern='[A-Z]+[a-z]=$'

In [263]:
#question no 25
import re
sample_text="Hello hello world world "
pattern=r'\b(\w+)(\s+\1\b)+'
result=re.sub(pattern,r'\1',sample_text)

print(result)

Hello hello world

In [264]:
#question no 26
pattern='[A-Za-z0-9]$'
def check(string):
    if(re.search(pattern,string)):
        print("The string is ending with alphanumeric character")
    else:
        print("The string is not ending with alphanumeric character")
    
string=input("Enter the string")
print(check(string))

Enter the stringpython123
The string is ending with alphanumeric character
None

In [265]:
#question no 27
sample_text="""RT@kapil_kausik:#Doltiwal I mean#xyzabc is"hurt"by #Demonetization as the same was rendered USELESS <ed><U+00A0><U+OOBD><ed><U+0089>"acquired funds"No wo"""
output=re.findall(r'#(\w+)',sample_text)
output

['Doltiwal', 'xyzabc', 'Demonetization']

In [266]:
#question no 28
import re
sample_text="@Jags123456 Bharat band on28??<ed><U+OOAO><U+OOBD><ed><U+OOB8><U+OO82> Those who are protesting#demonetization are all different party leaders" 
pattern=r'<U\+\w{4}>'
result=re.sub(pattern,"",sample_text)


print(result)

@Jags123456 Bharat band on28??<ed><ed> Those who are protesting#demonetization are all different party leaders

In [267]:
#question no 29   
sample_text=Ron was born on 12-12-1992 and he was admitted to school 15-12-1999. 

#open the text file
f=open('filename.text','r')
text=f.read()
dates=re.findall(r'\d{2}-\d+-\d{4}',text)

print(dates)

SyntaxError: invalid syntax (1267313359.py, line 2)

In [268]:
#question no 30
string="The following example creates an ArrayList with a capacity of 50 elements.4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly" 
pattern=re.compile(r'\W*\b\w{2,4}\b')
string=re.sub(pattern,'',string)
print(string)

 following example creates ArrayList a capacity elements.4 elements added ArrayList ArrayList trimmed accordingly