In [252]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\91991\anaconda3\anaconda\lib\site-packages (4.16.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\91991\anaconda3\anaconda\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\91991\anaconda3\anaconda\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: trio~=0.17 in c:\users\91991\anaconda3\anaconda\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\91991\anaconda3\anaconda\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: attrs>=20.1.0 in c:\users\91991\anaconda3\anaconda\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: cffi>=1.14 in c:\users\91991\anaconda3\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sortedcontainers in c:\users\91991\anaconda3\anaconda\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\91991\anaconda3\anaconda\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\91991\anaconda3\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: outcome in c:\users\91991\anaconda3\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: exceptiongroup in c:\users\91991\anaconda3\anaconda\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\91991\anaconda3\anaconda\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\91991\anaconda3\anaconda\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\91991\anaconda3\anaconda\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\91991\anaconda3\anaconda\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [253]:
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
import requests

# QUESTION NO 1 SCRAPPING DETAILS OF MOST VIEWED VIDEOS ON YOU TUBE

In [110]:
driver=webdriver.Chrome()

In [111]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [112]:
table=driver.find_element(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]')
rows=table.find_elements(By.TAG_NAME,'tr')
tablerow=[]
for row in rows:
    columns=row.find_elements(By.TAG_NAME,'td')
    row_data=[column.text for column in columns]
    tablerow.append(row_data)
    
    
    
print(tablerow)

[[], [], ['"Baby Shark Dance"[6]', "Pinkfong Baby Shark - Kids' Songs & Stories", '14.09', 'June 17, 2016', '[A]'], ['"Despacito"[9]', 'Luis Fonsi', '8.38', 'January 12, 2017', '[B]'], ['"Johny Johny Yes Papa"[17]', "LooLoo Kids - Nursery Rhymes and Children's Songs", '6.87', 'October 8, 2016', ''], ['"Bath Song"[18]', 'Cocomelon - Nursery Rhymes', '6.62', 'May 2, 2018', ''], ['"Shape of You"[19]', 'Ed Sheeran', '6.20', 'January 30, 2017', '[C]'], ['"See You Again"[22]', 'Wiz Khalifa', '6.17', 'April 6, 2015', '[D]'], ['"Wheels on the Bus"[27]', 'Cocomelon - Nursery Rhymes', '5.88', 'May 24, 2018', ''], ['"Phonics Song with Two Words"[28]', 'ChuChu TV Nursery Rhymes & Kids Songs', '5.70', 'March 6, 2014', ''], ['"Uptown Funk"[29]', 'Mark Ronson', '5.15', 'November 19, 2014', ''], ['"Learning Colors – Colorful Eggs on a Farm"[30]', 'Miroshka TV', '5.07', 'February 27, 2018', ''], ['"Gangnam Style"[31]', 'Psy', '5.05', 'July 15, 2012', '[E]'], ['"Masha and the Bear – Recipe for Disaster"[36]', 'Get Movies', '4.58', 'January 31, 2012', ''], ['"Dame Tu Cosita"[37]', 'Ultra Records', '4.55', 'April 5, 2018', ''], ['"Axel F"[38]', 'Crazy Frog', '4.34', 'June 16, 2009', ''], ['"Sugar"[39]', 'Maroon 5', '4.00', 'January 14, 2015', ''], ['"Counting Stars"[40]', 'OneRepublic', '3.97', 'May 31, 2013', ''], ['"Baa Baa Black Sheep"[41]', 'Cocomelon - Nursery Rhymes', '3.96', 'June 25, 2018', ''], ['"Roar"[42]', 'Katy Perry', '3.96', 'September 5, 2013', ''], ['"Lakdi Ki Kathi"[43]', 'Jingle Toons', '3.91', 'June 14, 2018', ''], ['"Waka Waka (This Time for Africa)"[44]', 'Shakira', '3.85', 'June 4, 2010', ''], ['"Sorry"[45]', 'Justin Bieber', '3.77', 'October 22, 2015', ''], ['"Thinking Out Loud"[46]', 'Ed Sheeran', '3.73', 'October 7, 2014', ''], ['"Humpty the train on a fruits ride"[47]', 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs', '3.73', 'January 26, 2018', ''], ['"Shree Hanuman Chalisa"[48]', 'T-Series Bhakti Sagar', '3.69', 'May 10, 2011', ''], ['"Dark Horse"[49]', 'Katy Perry', '3.67', 'February 20, 2014', ''], ['"Perfect"[50]', 'Ed Sheeran', '3.67', 'November 9, 2017', ''], ['"Let Her Go"[51]', 'Passenger', '3.61', 'July 25, 2012', ''], ['"Faded"[52]', 'Alan Walker', '3.59', 'December 3, 2015', ''], ['"Girls Like You"[53]', 'Maroon 5', '3.56', 'May 31, 2018', ''], ['"Lean On"[54]', 'Major Lazer Official', '3.55', 'March 22, 2015', ''], []]

In [113]:
column_names=["video name","artist","views","date","XYZ"]
df=pd.DataFrame(tablerow[2:],columns=column_names)
df['Rank']=df.index+1
df.drop("XYZ",axis=1,inplace=True)
df

,video name,artist,views,date,Rank
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,14.09,"June 17, 2016",1
1,"""Despacito""[9]",Luis Fonsi,8.38,"January 12, 2017",2
2,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.87,"October 8, 2016",3
3,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.62,"May 2, 2018",4
4,"""Shape of You""[19]",Ed Sheeran,6.20,"January 30, 2017",5
5,"""See You Again""[22]",Wiz Khalifa,6.17,"April 6, 2015",6
6,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.88,"May 24, 2018",7
7,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.70,"March 6, 2014",8
8,"""Uptown Funk""[29]",Mark Ronson,5.15,"November 19, 2014",9
9,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,5.07,"February 27, 2018",10
10,"""Gangnam Style""[31]",Psy,5.05,"July 15, 2012",11
11,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.58,"January 31, 2012",12
12,"""Dame Tu Cosita""[37]",Ultra Records,4.55,"April 5, 2018",13
13,"""Axel F""[38]",Crazy Frog,4.34,"June 16, 2009",14
14,"""Sugar""[39]",Maroon 5,4.00,"January 14, 2015",15
15,"""Counting Stars""[40]",OneRepublic,3.97,"May 31, 2013",16
16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,3.96,"June 25, 2018",17
17,"""Roar""[42]",Katy Perry,3.96,"September 5, 2013",18
18,"""Lakdi Ki Kathi""[43]",Jingle Toons,3.91,"June 14, 2018",19
19,"""Waka Waka (This Time for Africa)""[44]",Shakira,3.85,"June 4, 2010",20
20,"""Sorry""[45]",Justin Bieber,3.77,"October 22, 2015",21
21,"""Thinking Out Loud""[46]",Ed Sheeran,3.73,"October 7, 2014",22
22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.73,"January 26, 2018",23
23,"""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,3.69,"May 10, 2011",24
24,"""Dark Horse""[49]",Katy Perry,3.67,"February 20, 2014",25
25,"""Perfect""[50]",Ed Sheeran,3.67,"November 9, 2017",26
26,"""Let Her Go""[51]",Passenger,3.61,"July 25, 2012",27
27,"""Faded""[52]",Alan Walker,3.59,"December 3, 2015",28
28,"""Girls Like You""[53]",Maroon 5,3.56,"May 31, 2018",29
29,"""Lean On""[54]",Major Lazer Official,3.55,"March 22, 2015",30
30,None,None,None,None,31

# QUESTION NO 2 SCRAPPING DETAILS OF TEAM INDIA international fixtures from bcci.tv

In [47]:
driver=webdriver.Chrome()

In [48]:
driver.get('https:www.bcci.tv/')

In [49]:
fixtures=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixtures.click()

In [50]:
#scrapping the series from the given data
series=[]
series_tags=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series_tags:
    series_i=i.text
    series.append(series_i)
    
    
print(series)

['ENGLAND TOUR OF INDIA 2023-24', 'ENGLAND TOUR OF INDIA 2023-24', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024']

In [51]:
#scrapping the place from the given data
place=[]
place_tags=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in place_tags:
    place_i=i.text
    place.append(place_i)
    
print(place)

['JSCA International Stadium Complex, Ranchi', 'Himachal Pradesh Cricket Association Stadium, Dharamsala', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare']

In [52]:
#scrapping date from the given web page
date=[]
date_tags=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date_tags:
    date_i=i.text
    date.append(date_i)
    
    
print(date)

['23 FEBRUARY, 2024', '7 MARCH, 2024', '6 JULY, 2024', '7 JULY, 2024', '10 JULY, 2024', '13 JULY, 2024', '14 JULY, 2024']

In [53]:
#scrapping details of time from the given web page
time=[]
time_tags=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time_tags:
    time_i=i.text
    time.append(time_i)
    
    
print(time)

['9:30 AM IST', '9:30 AM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST']

# QUESTION NO 3 SCRAPPING THE DETAILS OF STATE WISE GDP OF INDIA

In [171]:
driver=webdriver.Chrome()

In [172]:
driver.get("http://statisticstimes.com/")

In [173]:
eco=driver.find_element(By.XPATH,'//div[@class="dropdown"][2]')
eco.click()

In [174]:
india=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()
#/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]

In [176]:
gdp_indian_states=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp_indian_states.click()
#/html/body/div[2]/div[2]/div[2]/ul/li[1]/a

In [180]:
#scrapping details of the state
table=driver.find_element(By.XPATH,'//table[@class="display dataTable"]')
rows=table.find_elements(By.TAG_NAME,'tr')
tablerow=[]
for row in rows[2:]:
    columns=row.find_elements(By.TAG_NAME,'td')
    row_data=[column.text for column in columns]
    tablerow.append(row_data)
    
    
print(tablerow)

[['1', 'Maharashtra', '-', '3,108,022', '13.24%', '417.163', '-', '2,027,971'], ['2', 'Tamil Nadu', '2,364,514', '2,071,286', '8.82%', '278.011', '1,453,321', '1,343,287'], ['3', 'Uttar Pradesh', '2,257,575', '1,974,532', '8.41%', '265.024', '1,304,678', '1,204,660'], ['4', 'Karnataka', '2,241,368', '1,962,725', '8.36%', '263.440', '1,326,319', '1,229,713'], ['5', 'Gujarat', '-', '1,937,066', '8.25%', '259.996', '-', '1,372,204'], ['6', 'West Bengal', '1,554,992', '1,363,926', '5.81%', '183.068', '854,023', '787,758'], ['7', 'Rajasthan', '1,413,620', '1,218,193', '5.19%', '163.507', '799,449', '738,922'], ['8', 'Madhya Pradesh', '1,322,821', '1,136,137', '4.84%', '152.494', '643,124', '600,689'], ['9', 'Andhra Pradesh', '1,317,728', '1,133,837', '4.83%', '152.185', '754,338', '704,889'], ['10', 'Telangana', '1,313,391', '1,128,907', '4.81%', '151.523', '726,707', '674,371'], ['11', 'Kerala', '-', '932,470', '3.97%', '125.157', '-', '572,747'], ['12', 'Delhi', '1,043,759', '904,642', '3.85%', '121.422', '652,649', '597,765'], ['13', 'Haryana', '994,154', '870,665', '3.71%', '116.862', '608,420', '568,086'], ['14', 'Odisha', '774,869', '670,881', '2.86%', '90.047', '463,859', '432,960'], ['15', 'Bihar', '751,396', '650,302', '2.77%', '87.284', '442,473', '399,930'], ['16', 'Punjab', '673,107', '614,227', '2.62%', '82.442', '461,539', '433,769'], ['17', 'Assam', '493,167', '412,612', '1.76%', '55.381', '289,192', '262,523'], ['18', 'Chhattisgarh', '457,608', '406,416', '1.73%', '54.550', '289,082', '267,681'], ['19', 'Jharkhand', '393,722', '358,863', '1.53%', '48.167', '259,800', '243,348'], ['20', 'Uttarakhand', '302,621', '272,159', '1.16%', '36.530', '207,104', '193,412'], ['21', 'Jammu & Kashmir-UT', '227,927', '199,917', '0.85%', '26.833', '134,716', '124,728'], ['22', 'Himachal Pradesh', '195,405', '176,269', '0.75%', '23.659', '134,576', '126,433'], ['23', 'Goa', '-', '82,604', '0.35%', '11.087', '-', '55,548'], ['24', 'Tripura', '72,636', '62,550', '0.27%', '8.396', '42,997', '39,487'], ['25', 'Chandigarh', '-', '45,635', '0.19%', '6.125', '-', '30,287'], ['26', 'Puducherry', '-', '44,238', '0.19%', '5.938', '-', '27,834'], ['27', 'Meghalaya', '42,697', '38,785', '0.17%', '5.206', '25,209', '24,267'], ['28', 'Sikkim', '42,756', '37,557', '0.16%', '5.041', '22,144', '20,728'], ['29', 'Manipur', '-', '36,594', '0.16%', '4.912', '-', '20,515'], ['30', 'Arunachal Pradesh', '-', '35,124', '0.15%', '4.714', '-', '19,801'], ['31', 'Nagaland', '-', '31,913', '0.14%', '4.283', '-', '18,363'], ['32', 'Mizoram', '-', '27,824', '0.12%', '3.735', '-', '18,494'], ['33', 'Andaman & Nicobar Islands', '-', '10,371', '0.04%', '1.392', '-', '7,172'], ['', 'India', '27,240,712', '23,471,012', '', '3,150', '16,006,425', '14,925,840']]

In [181]:
column_names=["Rank","state","GSDP(22-23)","GSDP(21-22)","Share(21-22)","GDP($billion)","GSDP(Cr INR)","LMN"]
df=pd.DataFrame(tablerow,columns=column_names)
df

,Rank,state,GSDP(22-23),GSDP(21-22),Share(21-22),GDP($billion),GSDP(Cr INR),LMN
0,1,Maharashtra,-,"3,108,022",13.24%,417.163,-,"2,027,971"
1,2,Tamil Nadu,"2,364,514","2,071,286",8.82%,278.011,"1,453,321","1,343,287"
2,3,Uttar Pradesh,"2,257,575","1,974,532",8.41%,265.024,"1,304,678","1,204,660"
3,4,Karnataka,"2,241,368","1,962,725",8.36%,263.440,"1,326,319","1,229,713"
4,5,Gujarat,-,"1,937,066",8.25%,259.996,-,"1,372,204"
5,6,West Bengal,"1,554,992","1,363,926",5.81%,183.068,"854,023","787,758"
6,7,Rajasthan,"1,413,620","1,218,193",5.19%,163.507,"799,449","738,922"
7,8,Madhya Pradesh,"1,322,821","1,136,137",4.84%,152.494,"643,124","600,689"
8,9,Andhra Pradesh,"1,317,728","1,133,837",4.83%,152.185,"754,338","704,889"
9,10,Telangana,"1,313,391","1,128,907",4.81%,151.523,"726,707","674,371"
10,11,Kerala,-,"932,470",3.97%,125.157,-,"572,747"
11,12,Delhi,"1,043,759","904,642",3.85%,121.422,"652,649","597,765"
12,13,Haryana,"994,154","870,665",3.71%,116.862,"608,420","568,086"
13,14,Odisha,"774,869","670,881",2.86%,90.047,"463,859","432,960"
14,15,Bihar,"751,396","650,302",2.77%,87.284,"442,473","399,930"
15,16,Punjab,"673,107","614,227",2.62%,82.442,"461,539","433,769"
16,17,Assam,"493,167","412,612",1.76%,55.381,"289,192","262,523"
17,18,Chhattisgarh,"457,608","406,416",1.73%,54.550,"289,082","267,681"
18,19,Jharkhand,"393,722","358,863",1.53%,48.167,"259,800","243,348"
19,20,Uttarakhand,"302,621","272,159",1.16%,36.530,"207,104","193,412"
20,21,Jammu & Kashmir-UT,"227,927","199,917",0.85%,26.833,"134,716","124,728"
21,22,Himachal Pradesh,"195,405","176,269",0.75%,23.659,"134,576","126,433"
22,23,Goa,-,"82,604",0.35%,11.087,-,"55,548"
23,24,Tripura,"72,636","62,550",0.27%,8.396,"42,997","39,487"
24,25,Chandigarh,-,"45,635",0.19%,6.125,-,"30,287"
25,26,Puducherry,-,"44,238",0.19%,5.938,-,"27,834"
26,27,Meghalaya,"42,697","38,785",0.17%,5.206,"25,209","24,267"
27,28,Sikkim,"42,756","37,557",0.16%,5.041,"22,144","20,728"
28,29,Manipur,-,"36,594",0.16%,4.912,-,"20,515"
29,30,Arunachal Pradesh,-,"35,124",0.15%,4.714,-,"19,801"
30,31,Nagaland,-,"31,913",0.14%,4.283,-,"18,363"
31,32,Mizoram,-,"27,824",0.12%,3.735,-,"18,494"
32,33,Andaman & Nicobar Islands,-,"10,371",0.04%,1.392,-,"7,172"
33,,India,"27,240,712","23,471,012",,"3,150","16,006,425","14,925,840"

# QUESTION NO 4 SCRAPPING DETAILS OF TRENDING REPOSITORIES ON GITHUB

In [156]:
driver=webdriver.Chrome()

In [157]:
driver.get("https://github.com/")

In [158]:
search_cl=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/div/qbsearch-input/div[1]/button/span')
search_cl.click()

In [159]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/div/qbsearch-input/div[1]/div/modal-dialog/div/div/div/form/query-builder/div[1]/div[1]/div/div[2]/input')
search.send_keys('Trending Repository')

In [160]:
trending_repository=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/div/qbsearch-input/div[1]/div/modal-dialog/div/div/div/form/query-builder/div[1]/div[1]/div/div[2]/input')
trending_repository.click()

In [162]:
#scrapping the value of repository title from the given page
title=[]
title_tags=driver.find_elements(By.XPATH,'//span[@class="Text-sc-17v1xeu-0 qaOIC search-match"]')
for i in title_tags:
    title_i=i.text
    title.append(title_i)
    
print(title)

['QasimWani/LeetHub', 'laowch/GithubTrends', 'vitalets/github-trending-repos', 'mbadry1/Trending-Deep-Learning', 'zhuowenli/githuber', 'ophobe/trending', 'karlrupp/microprocessor-trend-data', 'andygrunwald/go-trending', 'rochefort/git-trend', 'benbjohnson/scuttlebutt']

In [163]:
#scrapping the value of repository description from the given page
description=[]
description_tags=driver.find_elements(By.XPATH,'//span[@class="Text-sc-17v1xeu-0 kWPXhV search-match"]')
for i in description_tags:
    description_i=i.text
    description.append(description_i)
    
print(description)

['Automatically sync your leetcode solutions to your github account - top 5 trending GitHub repository', "It's a GitHub Trending repositories Viewer with Material Design.", 'Track GitHub trending repositories in your favorite programming language by native GitHub notifications!', 'Top 100 trending deep learning repositories sorted by the number of stars gained on a specific day.', 'Display Github Trending repositories on Chrome New Tab Extensions', 'Dataset of trending repositories on GitHub', 'Data repository for my blog series on microprocessor trend data.', 'Go library for accessing trending repositories and developers at Github.', 'fetch Trending repository on github', 'A daemon for tracking and tweeting trending Github repositories by language.']

In [165]:
#scrapping the details of language used
language=[]
language_tags=driver.find_elements(By.XPATH,'//ul[@class="Box-sc-g0xbh4-0 DUrqY"]/li/span')
for i in language_tags:
    language_i=i.text
    language.append(language_i)
    
    
print(language)

['JavaScript', 'Updated 4 days ago', 'Java', 'Updated on Jun 10, 2019', 'HTML', 'Updated 19 days ago', 'Python', 'Updated on Feb 2, 2020', 'JavaScript', 'Updated on Jul 11, 2023', 'Updated on Aug 16, 2020', 'Gnuplot', 'Updated on Feb 22, 2022', 'Go', 'Updated on Jan 1', 'Ruby', 'Updated 15 days ago', 'Go', 'Updated on Jan 11, 2018']

In [166]:
#scrapping the details of contributors count
count=[]
count_tags=driver.find_elements(By.XPATH,'//a[@class="Link__StyledLink-sc-14289xe-0 bzaAZD"]')
for i in count_tags:
    count_i=i.text
    count.append(count_i)
    
print(count)

['3.7k', '651', '2.6k', '616', '478', '60', '465', '139', '65', '150']

In [182]:
driver.close()

# QUESTION N0 5 DETAILS OF TOP100 SONGS ON BILLIBOARD.COM

In [183]:
 driver=webdriver.Chrome()

In [184]:
driver.get("https:/www.billboard.com/")

In [185]:
search=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
search.click()

In [186]:
chart=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3')
chart.click()

In [188]:
hot_100=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div[2]/div/div[1]/a/span/span')
hot_100.click()

In [81]:
#scrapping details of song name of top 100 songs
name=[]
name_tags=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')

for i in name_tags:
    name_i=i.text
    name.append(name_i)
    
    
print(name)

["Texas Hold 'Em", 'Carnival', 'Beautiful Things', 'Lose Control', 'Cruel Summer', 'Snooze', 'I Remember Everything', 'Greedy', 'Stick Season', 'Fast Car', 'Agora Hills', 'Water', 'Last Night', 'Redrum', "Thinkin' Bout Me", 'Flowers', "Is It Over Now? (Taylor's Version) [From The Vault]", 'Paint The Town Red', 'Yeah!', 'Never Lose Me', 'La Diabla', 'Fuk Sumn', 'Pretty Little Poison', 'Houdini', 'Back To Me', 'What Was I Made For?', 'Forever', 'Where The Wild Things Are', 'Talking', 'Yes, And?', 'Made For Me', 'Burn', 'Vultures', 'The Painter', 'Good Good', 'Selfish', '16 Carriages', 'Stars', 'Everybody', 'Rich Baby Daddy', 'Feather', 'Vampire', 'On My Mama', 'Wild Ones', 'Dance The Night', 'Save Me', 'Hiss', 'Exes', 'Need A Favor', 'Truck Bed', 'Do It', 'Paid', 'Surround Sound', 'Keys To My Life', 'World On Fire', 'First Person Shooter', 'La Victima', 'Get In With Me', 'Burn It Down', 'Standing Next To You', 'Think U The Shit (Fart)', 'Praise Jah In The Moonlight', 'Paperwork', 'Beg Forgiveness', 'Man Made A Bar', 'Hoodrat', 'One Call', 'Igual Que Un Angel', 'Spin You Around (1/24)', 'FTCU', 'One Of The Girls', 'Murder On The Dancefloor', 'You Broke My Heart', 'Northern Attitude', 'FE!N', '23', 'Bandit', 'Problematic', 'Nee-nah', 'Act II: Date @ 8', 'I Can Feel It', "Mamaw's House", 'Soak City', 'Harley Quinn', "You're Gonna Go Far", 'Bellakeo', 'IDGAF', 'Yeah Glo!', "Different 'Round Here", 'She Calls Me Back', "We Don't Fight Anymore", "Good (Don't Die)", 'King', 'Coal', 'Mmhmm', 'Monaco', 'Prove It', 'Perro Negro', 'Sunday Service']

In [195]:
#scrapping details of last week rank
last_week_rank=[]
last_rank_tags=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max lrv-u-flex-grow-1"]/span')

for i in last_rank_tags[::2]:
    last_rank_i=i.text
    last_week_rank.append(last_rank_i)
    
    
print(last_week_rank)

['1', '-', '-', '3', '2', '4', '5', '6', '7', '11', '8', '9', '12', '15', '14', '16', '10', '18', '17', '-', '19', '25', '-', '24', '22', '-', '20', '-', '26', '-', '21', '28', '-', '-', '30', '45', '23', '-', '-', '27', '32', '36', '29', '33', '35', '37', '40', '13', '34', '39', '46', '-', '-', '48', '-', '44', '47', '56', '68', '55', '81', '52', '60', '-', '-', '63', '-', '64', '53', '51', '54', '57', '59', '65', '97', '69', '74', '38', '-', '58', '61', '73', '78', '76', '67', '-', '70', '72', '-', '66', '-', '79', '-', '-', '86', '83', '77', '75', '82', '-']

In [196]:
len(last_week_rank)

100

In [82]:
#scrapping the details of artist name
artist=[]
artist_tags=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in artist_tags:
    artist_i=i.text
    artist.append(artist_i)
    
    
print(artist)

['Beyonce', '¥$: Kanye West & Ty Dolla $ign', 'Benson Boone', 'Teddy Swims', 'Taylor Swift', 'SZA', 'Zach Bryan Featuring Kacey Musgraves', 'Tate McRae', 'Noah Kahan', 'Luke Combs', 'Doja Cat', 'Tyla', 'Morgan Wallen', '21 Savage', 'Morgan Wallen', 'Miley Cyrus', 'Taylor Swift', 'Doja Cat', 'Usher Featuring Lil Jon & Ludacris', 'Flo Milli', 'Xavi', '¥$: Kanye West & Ty Dolla $ign', 'Warren Zeiders', 'Dua Lipa', '¥$: Kanye West & Ty Dolla $ign', 'Billie Eilish', 'Noah Kahan', 'Luke Combs', '¥$: Kanye West & Ty Dolla $ign Featuring North West', 'Ariana Grande', 'Muni Long', '¥$: Kanye West & Ty Dolla $ign', '¥$: Kanye West & Ty Dolla $ign Featuring Lil Durk & Bump J', 'Cody Johnson', 'Usher, Summer Walker & 21 Savage', 'Justin Timberlake', 'Beyonce', '¥$: Kanye West & Ty Dolla $ign', 'Nicki Minaj Featuring Lil Uzi Vert', 'Drake Featuring Sexyy Red & SZA', 'Sabrina Carpenter', 'Olivia Rodrigo', 'Victoria Monet', 'Jessie Murph & Jelly Roll', 'Dua Lipa', 'Jelly Roll With Lainey Wilson', 'Megan Thee Stallion', 'Tate McRae', 'Jelly Roll', 'HARDY', '¥$: Kanye West & Ty Dolla $ign', '¥$: Kanye West & Ty Dolla $ign', 'JID Featuring 21 Savage & Baby Tate', '¥$: Kanye West & Ty Dolla $ign', 'Nate Smith', 'Drake Featuring J. Cole', 'Xavi', 'BossMan Dlow', 'Parker McCollum', 'Jung Kook', 'Ice Spice', 'YG Marley', '¥$: Kanye West & Ty Dolla $ign', '¥$: Kanye West & Ty Dolla $ign', 'Morgan Wallen Featuring Eric Church', '¥$: Kanye West & Ty Dolla $ign', 'Rich Amiri', 'Kali Uchis & Peso Pluma', 'Morgan Wallen', 'Nicki Minaj', 'The Weeknd, Jennie & Lily Rose Depp', 'Sophie Ellis-Bextor', 'Drake', 'Noah Kahan With Hozier', 'Travis Scott Featuring Playboi Carti', 'Chayce Beckham', 'Don Toliver', '¥$: Kanye West & Ty Dolla $ign', '21 Savage, Travis Scott & Metro Boomin', '4Batz', 'Kane Brown', 'Thomas Rhett Featuring Morgan Wallen', '310babii', 'Fuerza Regida & Marshmello', 'Noah Kahan', 'Peso Pluma & Anitta', 'Drake Featuring Yeat', 'GloRilla', 'Riley Green Featuring Luke Combs', 'Noah Kahan With Kacey Musgraves', 'Carly Pearce Featuring Chris Stapleton', '¥$: Kanye West & Ty Dolla $ign', '¥$: Kanye West & Ty Dolla $ign', 'Dylan Gossett', 'BigXthaPlug', 'Bad Bunny', '21 Savage & Summer Walker', 'Bad Bunny & Feid', 'Latto']

In [202]:
weeks_on_board=[]
week_tags=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max lrv-u-flex-grow-1"]/span')
for i in week_tags[1::2]:
    week_i=i.text
    weeks_on_board.append(week_i)
    
print(weeks_on_board)

['14', '1', '1', '4', '27', '41', '61', '25', '22', '20', '47', '21', '20', '55', '5', '50', '52', '', '28', '46', '9', '9', '1', '23', '14', '1', '30', '1', '13', '1', '5', '5', '1', '1', '19', '27', '3', '1', '1', '10', '19', '11', '30', '22', '19', '33', '32', '3', '13', '44', '35', '1', '1', '14', '1', '16', '19', '9', '2', '17', '15', '3', '3', '1', '1', '21', '1', '3', '5', '3', '10', '8', '7', '13', '11', '16', '7', '2', '1', '5', '6', '7', '7', '9', '15', '1', '9', '19', '1', '11', '2', '9', '1', '1', '6', '8', '18', '5', '15', '1']

In [203]:
len(weeks_on_board)

100

In [210]:
driver.close()

# QUESTION NO 6 DETAILS OF HIGHEST SELLING NOVELS

In [114]:
driver=webdriver.Chrome()
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [116]:
table=driver.find_element(By.XPATH,'//table[@class="in-article sortable"]') 
rows=table.find_elements(By.TAG_NAME,'tr')
tablerow=[]
for row in rows:
    columns=row.find_elements(By.XPATH,'td')
    row_data=[column.text for column in columns]
    tablerow.append(row_data)
    
    
print(tablerow)

[[], ['SOURCE: NIELSEN BOOK SCAN'], ['1', 'Da Vinci Code,The', 'Brown, Dan', '5,094,805', 'Transworld', 'Crime, Thriller & Adventure'], ['2', 'Harry Potter and the Deathly Hallows', 'Rowling, J.K.', '4,475,152', 'Bloomsbury', "Children's Fiction"], ['3', "Harry Potter and the Philosopher's Stone", 'Rowling, J.K.', '4,200,654', 'Bloomsbury', "Children's Fiction"], ['4', 'Harry Potter and the Order of the Phoenix', 'Rowling, J.K.', '4,179,479', 'Bloomsbury', "Children's Fiction"], ['5', 'Fifty Shades of Grey', 'James, E. L.', '3,758,936', 'Random House', 'Romance & Sagas'], ['6', 'Harry Potter and the Goblet of Fire', 'Rowling, J.K.', '3,583,215', 'Bloomsbury', "Children's Fiction"], ['7', 'Harry Potter and the Chamber of Secrets', 'Rowling, J.K.', '3,484,047', 'Bloomsbury', "Children's Fiction"], ['8', 'Harry Potter and the Prisoner of Azkaban', 'Rowling, J.K.', '3,377,906', 'Bloomsbury', "Children's Fiction"], ['9', 'Angels and Demons', 'Brown, Dan', '3,193,946', 'Transworld', 'Crime, Thriller & Adventure'], ['10', "Harry Potter and the Half-blood Prince:Children's Edition", 'Rowling, J.K.', '2,950,264', 'Bloomsbury', "Children's Fiction"], ['11', 'Fifty Shades Darker', 'James, E. L.', '2,479,784', 'Random House', 'Romance & Sagas'], ['12', 'Twilight', 'Meyer, Stephenie', '2,315,405', 'Little, Brown Book', 'Young Adult Fiction'], ['13', 'Girl with the Dragon Tattoo,The:Millennium Trilogy', 'Larsson, Stieg', '2,233,570', 'Quercus', 'Crime, Thriller & Adventure'], ['14', 'Fifty Shades Freed', 'James, E. L.', '2,193,928', 'Random House', 'Romance & Sagas'], ['15', 'Lost Symbol,The', 'Brown, Dan', '2,183,031', 'Transworld', 'Crime, Thriller & Adventure'], ['16', 'New Moon', 'Meyer, Stephenie', '2,152,737', 'Little, Brown Book', 'Young Adult Fiction'], ['17', 'Deception Point', 'Brown, Dan', '2,062,145', 'Transworld', 'Crime, Thriller & Adventure'], ['18', 'Eclipse', 'Meyer, Stephenie', '2,052,876', 'Little, Brown Book', 'Young Adult Fiction'], ['19', 'Lovely Bones,The', 'Sebold, Alice', '2,005,598', 'Pan Macmillan', 'General & Literary Fiction'], ['20', 'Curious Incident of the Dog in the Night-time,The', 'Haddon, Mark', '1,979,552', 'Random House', 'General & Literary Fiction'], ['21', 'Digital Fortress', 'Brown, Dan', '1,928,900', 'Transworld', 'Crime, Thriller & Adventure'], ['22', 'Short History of Nearly Everything,A', 'Bryson, Bill', '1,852,919', 'Transworld', 'Popular Science'], ['23', 'Girl Who Played with Fire,The:Millennium Trilogy', 'Larsson, Stieg', '1,814,784', 'Quercus', 'Crime, Thriller & Adventure'], ['24', 'Breaking Dawn', 'Meyer, Stephenie', '1,787,118', 'Little, Brown Book', 'Young Adult Fiction'], ['25', 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar', 'Carle, Eric', '1,783,535', 'Penguin', 'Picture Books'], ['26', 'Gruffalo,The', 'Donaldson, Julia', '1,781,269', 'Pan Macmillan', 'Picture Books'], ['27', "Jamie's 30-Minute Meals", 'Oliver, Jamie', '1,743,266', 'Penguin', 'Food & Drink: General'], ['28', 'Kite Runner,The', 'Hosseini, Khaled', '1,629,119', 'Bloomsbury', 'General & Literary Fiction'], ['29', 'One Day', 'Nicholls, David', '1,616,068', 'Hodder & Stoughton', 'General & Literary Fiction'], ['30', 'Thousand Splendid Suns,A', 'Hosseini, Khaled', '1,583,992', 'Bloomsbury', 'General & Literary Fiction'], ['31', "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy", 'Larsson, Stieg', '1,555,135', 'Quercus', 'Crime, Thriller & Adventure'], ['32', "Time Traveler's Wife,The", 'Niffenegger, Audrey', '1,546,886', 'Random House', 'General & Literary Fiction'], ['33', 'Atonement', 'McEwan, Ian', '1,539,428', 'Random House', 'General & Literary Fiction'], ['34', "Bridget Jones's Diary:A Novel", 'Fielding, Helen', '1,508,205', 'Pan Macmillan', 'General & Literary Fiction'], ['35', 'World According to Clarkson,The', 'Clarkson, Jeremy', '1,489,403', 'Penguin', 'Humour: Collections & General'], ['36', "Captain Corelli's Mandolin", 'Bernieres, Louis de', '1,352,318', 'Random House', 'General & Literary Fiction'], ['37', 'Sound of Laughter,The', 'Kay, Peter', '1,310,207', 'Random House', 'Autobiography: General'], ['38', 'Life of Pi', 'Martel, Yann', '1,310,176', 'Canongate', 'General & Literary Fiction'], ['39', 'Billy Connolly', 'Stephenson, Pamela', '1,231,957', 'HarperCollins', 'Biography: The Arts'], ['40', 'Child Called It,A', 'Pelzer, Dave', '1,217,712', 'Orion', 'Autobiography: General'], ['41', "Gruffalo's Child,The", 'Donaldson, Julia', '1,208,711', 'Pan Macmillan', 'Picture Books'], ['42', "Angela's Ashes:A Memoir of a Childhood", 'McCourt, Frank', '1,204,058', 'HarperCollins', 'Autobiography: General'], ['43', 'Birdsong', 'Faulks, Sebastian', '1,184,967', 'Random House', 'General & Literary Fiction'], ['44', 'Northern Lights:His Dark Materials S.', 'Pullman, Philip', '1,181,503', 'Scholastic Ltd.', 'Young Adult Fiction'], ['45', 'Labyrinth', 'Mosse, Kate', '1,181,093', 'Orion', 'General & Literary Fiction'], ['46', 'Harry Potter and the Half-blood Prince', 'Rowling, J.K.', '1,153,181', 'Bloomsbury', 'Science Fiction & Fantasy'], ['47', 'Help,The', 'Stockett, Kathryn', '1,132,336', 'Penguin', 'General & Literary Fiction'], ['48', 'Man and Boy', 'Parsons, Tony', '1,130,802', 'HarperCollins', 'General & Literary Fiction'], ['49', 'Memoirs of a Geisha', 'Golden, Arthur', '1,126,337', 'Random House', 'General & Literary Fiction'], ['50', "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.", 'McCall Smith, Alexander', '1,115,549', 'Little, Brown Book', 'Crime, Thriller & Adventure'], ['51', 'Island,The', 'Hislop, Victoria', '1,108,328', 'Headline', 'General & Literary Fiction'], ['52', 'PS, I Love You', 'Ahern, Cecelia', '1,107,379', 'HarperCollins', 'General & Literary Fiction'], ['53', 'You are What You Eat:The Plan That Will Change Your Life', 'McKeith, Gillian', '1,104,403', 'Penguin', 'Fitness & Diet'], ['54', 'Shadow of the Wind,The', 'Zafon, Carlos Ruiz', '1,092,349', 'Orion', 'General & Literary Fiction'], ['55', 'Tales of Beedle the Bard,The', 'Rowling, J.K.', '1,090,847', 'Bloomsbury', "Children's Fiction"], ['56', 'Broker,The', 'Grisham, John', '1,087,262', 'Random House', 'Crime, Thriller & Adventure'], ['57', "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P", 'Atkins, Robert C.', '1,054,196', 'Random House', 'Fitness & Diet'], ['58', 'Subtle Knife,The:His Dark Materials S.', 'Pullman, Philip', '1,037,160', 'Scholastic Ltd.', 'Young Adult Fiction'], ['59', 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation', 'Truss, Lynne', '1,023,688', 'Profile Books Group', 'Usage & Writing Guides'], ['60', "Delia's How to Cook:(Bk.1)", 'Smith, Delia', '1,015,956', 'Random House', 'Food & Drink: General'], ['61', 'Chocolat', 'Harris, Joanne', '1,009,873', 'Transworld', 'General & Literary Fiction'], ['62', 'Boy in the Striped Pyjamas,The', 'Boyne, John', '1,004,414', 'Random House Childrens Books G', 'Young Adult Fiction'], ['63', "My Sister's Keeper", 'Picoult, Jodi', '1,003,780', 'Hodder & Stoughton', 'General & Literary Fiction'], ['64', 'Amber Spyglass,The:His Dark Materials S.', 'Pullman, Philip', '1,002,314', 'Scholastic Ltd.', 'Young Adult Fiction'], ['65', 'To Kill a Mockingbird', 'Lee, Harper', '998,213', 'Random House', 'General & Literary Fiction'], ['66', 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin', 'Gray, John', '992,846', 'HarperCollins', 'Popular Culture & Media: General Interest'], ['67', 'Dear Fatty', 'French, Dawn', '986,753', 'Random House', 'Autobiography: The Arts'], ['68', 'Short History of Tractors in Ukrainian,A', 'Lewycka, Marina', '986,115', 'Penguin', 'General & Literary Fiction'], ['69', 'Hannibal', 'Harris, Thomas', '970,509', 'Random House', 'Crime, Thriller & Adventure'], ['70', 'Lord of the Rings,The', 'Tolkien, J. R. R.', '967,466', 'HarperCollins', 'Science Fiction & Fantasy'], ['71', 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio', 'Moore, Michael', '963,353', 'Penguin', 'Current Affairs & Issues'], ['72', 'Interpretation of Murder,The', 'Rubenfeld, Jed', '962,515', 'Headline', 'Crime, Thriller & Adventure'], ['73', 'Sharon Osbourne Extreme:My Autobiography', 'Osbourne, Sharon', '959,496', 'Little, Brown Book', 'Autobiography: The Arts'], ['74', 'Alchemist,The:A Fable About Following Your Dream', 'Coelho, Paulo', '956,114', 'HarperCollins', 'General & Literary Fiction'], ['75', "At My Mother's Knee ...:and Other Low Joints", "O'Grady, Paul", '945,640', 'Transworld', 'Autobiography: The Arts'], ['76', 'Notes from a Small Island', 'Bryson, Bill', '931,312', 'Transworld', 'Travel Writing'], ['77', 'Return of the Naked Chef,The', 'Oliver, Jamie', '925,425', 'Penguin', 'Food & Drink: General'], ['78', 'Bridget Jones: The Edge of Reason', 'Fielding, Helen', '924,695', 'Pan Macmillan', 'General & Literary Fiction'], ['79', "Jamie's Italy", 'Oliver, Jamie', '906,968', 'Penguin', 'National & Regional Cuisine'], ['80', 'I Can Make You Thin', 'McKenna, Paul', '905,086', 'Transworld', 'Fitness & Diet'], ['81', 'Down Under', 'Bryson, Bill', '890,847', 'Transworld', 'Travel Writing'], ['82', 'Summons,The', 'Grisham, John', '869,671', 'Random House', 'Crime, Thriller & Adventure'], ['83', 'Small Island', 'Levy, Andrea', '869,659', 'Headline', 'General & Literary Fiction'], ['84', 'Nigella Express', 'Lawson, Nigella', '862,602', 'Random House', 'Food & Drink: General'], ['85', 'Brick Lane', 'Ali, Monica', '856,540', 'Transworld', 'General & Literary Fiction'], ['86', "Memory Keeper's Daughter,The", 'Edwards, Kim', '845,858', 'Penguin', 'General & Literary Fiction'], ['87', 'Room on the Broom', 'Donaldson, Julia', '842,535', 'Pan Macmillan', 'Picture Books'], ['88', 'About a Boy', 'Hornby, Nick', '828,215', 'Penguin', 'General & Literary Fiction'], ['89', 'My Booky Wook', 'Brand, Russell', '820,563', 'Hodder & Stoughton', 'Autobiography: The Arts'], ['90', 'God Delusion,The', 'Dawkins, Richard', '816,907', 'Transworld', 'Popular Science'], ['91', '"Beano" Annual,The', '0', '816,585', 'D.C. Thomson', "Children's Annuals"], ['92', 'White Teeth', 'Smith, Zadie', '815,586', 'Penguin', 'General & Literary Fiction'], ['93', 'House at Riverton,The', 'Morton, Kate', '814,370', 'Pan Macmillan', 'General & Literary Fiction'], ['94', 'Book Thief,The', 'Zusak, Markus', '809,641', 'Transworld', 'General & Literary Fiction'], ['95', 'Nights of Rain and Stars', 'Binchy, Maeve', '808,900', 'Orion', 'General & Literary Fiction'], ['96', 'Ghost,The', 'Harris, Robert', '807,311', 'Random House', 'General & Literary Fiction'], ['97', 'Happy Days with the Naked Chef', 'Oliver, Jamie', '794,201', 'Penguin', 'Food & Drink: General'], ['98', 'Hunger Games,The:Hunger Games Trilogy', 'Collins, Suzanne', '792,187', 'Scholastic Ltd.', 'Young Adult Fiction'], ['99', "Lost Boy,The:A Foster Child's Search for the Love of a Family", 'Pelzer, Dave', '791,507', 'Orion', 'Biography: General'], ['100', "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours", 'Oliver, Jamie', '791,095', 'Penguin', 'Food & Drink: General']]

In [119]:
column_names=["Book name","Author name","Volumes","publisher","genre","ABC"]
df=pd.DataFrame(tablerow[2:],columns=column_names)
df['Rank']=df.index+1
df.drop("ABC",axis=1,inplace=True)
df

,Book name,Author name,Volumes,publisher,genre,Rank
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,1
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,2
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,3
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,4
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,5
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House,96
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,97
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,98
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,99
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,100

# QUESTION NO 7 DETAILS OF MOST WATCHED TV SERIES

In [29]:
driver=webdriver.Chrome()

In [30]:
driver.get("https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc")

In [31]:
name=[]
name_tags=driver.find_elements(By.XPATH,'//a[@class="ipc-title-link-wrapper"]/h3')
for i in name_tags:
    name_i=i.text
    name.append(name_i)
    
    
print(name)

['1. Game of Thrones', '2. Breaking Bad', '3. Stranger Things', '4. Friends', '5. The Walking Dead', '6. Sherlock', '7. The Big Bang Theory', '8. Dexter', '9. How I Met Your Mother', '10. The Office', '11. True Detective', '12. Peaky Blinders', '13. Better Call Saul', '14. The Boys', '15. Black Mirror', '16. Rick and Morty', '17. Lost', '18. The Mandalorian', '19. Vikings', '20. Prison Break', '21. The Witcher', '22. Squid Game', '23. Westworld', '24. House of Cards', '25. Money Heist', '26. House', '27. The Last of Us', '28. Attack on Titan', '29. Supernatural', '30. Modern Family', '31. Suits', '32. Daredevil', '33. Narcos', '34. The Sopranos', '35. Arrow', '36. Dark', '37. The Simpsons', '38. Fargo', '39. Mr. Robot', '40. Loki', '41. South Park', '42. The Wire', '43. Death Note', '44. The Flash', '45. House of the Dragon', '46. Family Guy', '47. Homeland', '48. Avatar: The Last Airbender', '49. Brooklyn Nine-Nine', '50. Wednesday']

In [32]:
year_span=[]
span_tags=driver.find_elements(By.XPATH,'//div[@class="sc-be6f1408-7 iUtHEN dli-title-metadata"]')
for i in span_tags:
    span_i=i.text
    year_span.append(span_i)
    
print(year_span)

['2011–2019\nTV-MA', '2008–2013\nTV-MA', '2016–2025\nTV-14', '1994–2004\nTV-14', '2010–2022\nTV-MA', '2010–2017\nTV-14', '2007–2019\nTV-PG', '2006–2013\nTV-MA', '2005–2014\nTV-14', '2005–2013\nTV-14', '2014–\nTV-MA', '2013–2022\nTV-MA', '2015–2022\nTV-MA', '2019–\nTV-MA', '2011–\nTV-MA', '2013–\nTV-MA', '2004–2010\nTV-14', '2019–\nTV-14', '2013–2020\nTV-MA', '2005–2017\nTV-14', '2019–\nTV-MA', '2021–\nTV-MA', '2016–2022\nTV-MA', '2013–2018\nTV-MA', '2017–2021\nTV-MA', '2004–2012\nTV-14', '2023–\nTV-MA', '2013–2023\nTV-MA', '2005–2020\nTV-14', '2009–2020\nTV-PG', '2011–2019\nTV-14', '2015–2018\nTV-MA', '2015–2017\nTV-MA', '1999–2007\nTV-MA', '2012–2020\nTV-14', '2017–2020\nTV-MA', '1989–\nTV-14', '2014–2024\nTV-MA', '2015–2019\nTV-MA', '2021–2023\nTV-14', '1997–\nTV-MA', '2002–2008\nTV-MA', '2006–2007\nTV-14', '2014–2023\nTV-PG', '2022–\nTV-MA', '1999–2025\nTV-MA', '2011–2020\nTV-MA', '2005–2008\nTV-Y7-FV', '2013–2021\nTV-14', '2022–\nTV-14']

In [33]:
len(year_span)

50

In [34]:
rating=[]
rating_tags=driver.find_elements(By.XPATH,'//span[@class="ipc-rating-star ipc-rating-star--base ipc-rating-star--imdb ratingGroup--imdb-rating"]')
for i in rating_tags:
    rating_i=i.text
    rating.append(rating_i)
    
print(rating)

['9.2\n (2.3M)', '9.5\n (2.1M)', '8.7\n (1.3M)', '8.9\n (1.1M)', '8.1\n (1.1M)', '9.1\n (988K)', '8.2\n (860K)', '8.7\n (759K)', '8.3\n (723K)', '9.0\n (698K)', '8.9\n (640K)', '8.8\n (636K)', '9.0\n (635K)', '8.7\n (633K)', '8.7\n (632K)', '9.1\n (593K)', '8.3\n (590K)', '8.7\n (579K)', '8.5\n (575K)', '8.3\n (574K)', '8.0\n (564K)', '8.0\n (530K)', '8.5\n (529K)', '8.6\n (528K)', '8.2\n (526K)', '8.7\n (504K)', '8.8\n (500K)', '9.1\n (497K)', '8.4\n (478K)', '8.5\n (476K)', '8.4\n (471K)', '8.6\n (471K)', '8.8\n (465K)', '9.2\n (462K)', '7.5\n (445K)', '8.7\n (437K)', '8.7\n (433K)', '8.9\n (415K)', '8.5\n (415K)', '8.2\n (406K)', '8.7\n (403K)', '9.3\n (372K)', '8.9\n (372K)', '7.5\n (367K)', '8.4\n (363K)', '8.2\n (362K)', '8.3\n (359K)', '9.3\n (356K)', '8.4\n (355K)', '8.1\n (352K)']

In [35]:
votes=[]
vote_tags=driver.find_elements(By.XPATH,'//div[@class="sc-f24f1c5c-0 cPpOqU"]')
for i in vote_tags:
    vote_i=i.text
    votes.append(vote_i)
    
print(votes)

['Votes2,258,468', 'Votes2,105,688', 'Votes1,317,595', 'Votes1,077,039', 'Votes1,070,078', 'Votes988,058', 'Votes859,798', 'Votes758,682', 'Votes723,220', 'Votes697,966', 'Votes639,818', 'Votes635,834', 'Votes635,066', 'Votes632,990', 'Votes631,953', 'Votes593,490', 'Votes589,540', 'Votes579,380', 'Votes575,088', 'Votes574,137', 'Votes564,344', 'Votes529,949', 'Votes529,158', 'Votes527,867', 'Votes525,709', 'Votes503,813', 'Votes500,165', 'Votes497,286', 'Votes478,329', 'Votes476,219', 'Votes470,985', 'Votes470,713', 'Votes464,868', 'Votes461,539', 'Votes444,536', 'Votes436,809', 'Votes432,564', 'Votes415,256', 'Votes414,680', 'Votes405,780', 'Votes402,941', 'Votes372,424', 'Votes371,802', 'Votes366,699', 'Votes362,703', 'Votes361,587', 'Votes358,963', 'Votes356,431', 'Votes355,488', 'Votes352,313']

# QUESTION NO 8 DETAILS OF DATASETS FROM UCI MACHINE LEARNING REPOSITORIES

In [254]:
driver=webdriver.Chrome()

In [255]:
driver.get('https://archive.ics.uci.edu/')

In [256]:
datasets=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
datasets.click()

In [257]:
#scrapping the details of dataset name from 10 pages
dataset_name=[]
start=0
end=10
for page in range(start,end):
    name_tags=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
    for i in name_tags:
        name_i=i.text
        dataset_name.append(name_i)
    next=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]') 
    next.click()

In [258]:
print(dataset_name)

['Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine Quality', 'Diabetes', 'Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine Quality', 'Diabetes', 'Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine Quality', 'Diabetes', 'Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine Quality', 'Diabetes', 'Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine Quality', 'Diabetes', 'Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine Quality', 'Diabetes', 'Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine Quality', 'Diabetes', 'Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine Quality', 'Diabetes', 'Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine Quality', 'Diabetes', 'Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Wine', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine Quality', 'Diabetes']

In [259]:
len(dataset_name)

100

In [262]:
#scrapping the details of datatype
data_type=[]
start=0
end=10
for page in range(start,end):
    type_tags=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"]')
    for i in type_tags[1::4]:
        data_i=i.text
        if len(data_i)==0:
            data_type.append("--")
        else:
            data_type.append(data_i)
        
        
    next=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]') 
    next.click()
    
    
print(data_type)

['Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate, Sequential, Time-Series', '191.78K Instances', '147.27K Instances', '12.68K Instances', '202 Instances', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate, Sequential, Time-Series', '191.78K Instances', '147.27K Instances', '12.68K Instances', '202 Instances', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate, Sequential, Time-Series', '191.78K Instances', '147.27K Instances', '12.68K Instances', '202 Instances', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate, Sequential, Time-Series', '191.78K Instances', '147.27K Instances', '12.68K Instances', '202 Instances', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate, Sequential, Time-Series', '191.78K Instances', '147.27K Instances', '12.68K Instances', '202 Instances', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate, Sequential, Time-Series', '191.78K Instances', '147.27K Instances', '12.68K Instances', '202 Instances', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate, Sequential, Time-Series', '191.78K Instances', '147.27K Instances', '12.68K Instances', '202 Instances', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate, Sequential, Time-Series', '191.78K Instances', '147.27K Instances', '12.68K Instances', '202 Instances', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate, Sequential, Time-Series', '191.78K Instances', '147.27K Instances', '12.68K Instances', '202 Instances', 'Tabular', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate, Sequential, Time-Series', '191.78K Instances', '147.27K Instances', '12.68K Instances', '202 Instances']

In [264]:
len(data_type)

90

In [267]:
#scrapping the instances details of datatype

ins=[]
start=0
end=10
for page in range(start,end):
    ins_tags=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"]')
    for i in ins_tags[2::4]:
        ins_i=i.text
        if len(ins_i)==0:
            ins.append("--")
        else:
            ins.append(ins_i)     
    next=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]') 
    next.click()

print(ins)
print(len(ins))

['150 Instances', '13.61K Instances', '303 Instances', '3.81K Instances', '48.84K Instances', '900 Instances', '178 Instances', '569 Instances', '4.9K Instances', '1 Instances', '150 Instances', '13.61K Instances', '303 Instances', '3.81K Instances', '48.84K Instances', '900 Instances', '178 Instances', '569 Instances', '4.9K Instances', '1 Instances', '150 Instances', '13.61K Instances', '303 Instances', '3.81K Instances', '48.84K Instances', '900 Instances', '178 Instances', '569 Instances', '4.9K Instances', '1 Instances', '150 Instances', '13.61K Instances', '303 Instances', '3.81K Instances', '48.84K Instances', '900 Instances', '178 Instances', '569 Instances', '4.9K Instances', '1 Instances', '150 Instances', '13.61K Instances', '303 Instances', '3.81K Instances', '48.84K Instances', '900 Instances', '178 Instances', '569 Instances', '4.9K Instances', '1 Instances', '150 Instances', '13.61K Instances', '303 Instances', '3.81K Instances', '48.84K Instances', '900 Instances', '178 Instances', '569 Instances', '4.9K Instances', '1 Instances', '435 Instances', '208 Instances', '1.48K Instances', '210 Instances', '19 Features', '9 Features', '21 Features', 'Classification', 'Classification, Regression', '12.96K Instances', '452 Instances', '14 Features', '14 Features', '8 Features', 'Regression', 'Classification', 'Multivariate', 'Multivariate', '12.96K Instances', '452 Instances', '14 Features', '14 Features', '8 Features', 'Regression', 'Classification', 'Multivariate', 'Multivariate', '12.96K Instances', '452 Instances', '14 Features', '14 Features', '8 Features', 'Regression', 'Classification', 'Multivariate', 'Multivariate']
96

In [268]:
#scrapping the details of task from the given page
data_type=[]
task=[]
start=0
end=10
for page in range(start,end):
    type_tags=driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"]')
    for i in type_tags:
        data_i=i.text
        if len(data_i)==0:
            data_type.append("--")
        else:
            data_type.append(data_i)     
    next=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]') 
    next.click()
task=data_type[::4]
print(task)
print(len(task))

['Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification, Regression', 'Classification', 'Classification, Clustering', 'Regression', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification, Regression', 'Classification', 'Classification, Clustering', 'Regression', 'Classification', 'Classification', 'Regression', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Regression', 'Classification', 'Multivariate', 'Multivariate', 'Multivariate, Time-Series', 'Multivariate, Text, Domain-Theory', '17.39K Instances', '101 Instances', '2.08M Instances', '32 Instances', '345 Instances', '19.02K Instances', '581.01K Instances', '5.62K Instances', '10.3K Instances', '1.48K Instances', '--', '19 Features', '9 Features', '21 Features', '--', '16 Features', '8 Features', '16 Features', '60 Features', '8 Features', 'Classification', 'Classification', 'Regression', 'Classification', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', '8.76K Instances', '690 Instances', '440 Instances', '198 Instances', '61 Features', 'Classification', 'Regression', 'Multivariate', 'Multivariate', '10K Instances', '307 Instances', '58K Instances', '30 Features', '86 Features', '18 Features', '--', '17 Features', '36 Features', '336 Instances', '1.37K Instances', '8 Features', '30 Features', '86 Features', '4 Features', '--', '7.8K Instances', '19.74K Instances', '1.47K Instances', '35 Features', '58 Features', '--', '128 Features', '294 Features', '6 Features']
95

In [269]:
driver.close()